Repository it-at-m/Wahllokalsystem, pull requests merged in 2024-12, with the labels that each got.

#595 571 einrichtung des routing
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/components/ExampleDynamicComponent.vue
  wls-gui-wahllokalsystem/src/constants.ts
  wls-gui-wahllokalsystem/src/plugins/router.ts
  wls-gui-wahllokalsystem/src/plugins/vuetify.ts
  wls-gui-wahllokalsystem/src/views/ExampleError404View.vue
  wls-gui-wahllokalsystem/src/views/ExampleNewRouteView.vue
Labels: service-gui-wls

#643 Fix: SecurityConfigurationtests zu Status zusammengeführt
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/configuration/SecurityConfigurationTest.java
Labels: service-ergebnismeldung, refactoring

#633 564 exemplarische backend kommunikation
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/api/WLSException.ts
  wls-gui-wahllokalsystem/src/api/fetch-utils.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/broadcast-service/BroadcastMessageToRead.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/broadcast-service/BroadcastMessageToSend.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/broadcast-service/broadcast-client.ts
  wls-gui-wahllokalsystem/src/constants.ts
  wls-gui-wahllokalsystem/src/plugins/router.ts
  wls-gui-wahllokalsystem/src/plugins/vuetify.ts
  wls-gui-wahllokalsystem/src/views/ExampleBackendCommunicationView.vue
Labels: service-gui-wls

#653 563 einrichtung der workflows für das frontend projekt
  .github/workflows/callable-create-github-container-image-frontend.yml
  .github/workflows/callable-run-npm-build.yml
  .github/workflows/dispatch-create-github-container-image-frontend.yml
  .github/workflows/wls-gui-wahllokalsystem_pull-request.yml
  .github/workflows/wls-gui-wahllokalsystem_push-dev.yml
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/api/WLSException.ts
  wls-gui-wahllokalsystem/src/components/ExampleDynamicComponent.vue
  wls-gui-wahllokalsystem/src/views/ExampleBackendCommunicationView.vue
  wls-gui-wahllokalsystem/src/views/ExampleNewRouteView.vue
Labels: service-gui-wls

#647 apiError durch wlsError ersetzen
  wls-gui-wahllokalsystem/src/api/ApiError.ts
  wls-gui-wahllokalsystem/src/api/WLSError.ts
  wls-gui-wahllokalsystem/src/api/WLSException.ts
  wls-gui-wahllokalsystem/src/api/fetch-utils.ts
  wls-gui-wahllokalsystem/src/api/wlsErrorCategories.ts
Labels: service-gui-wls

#660 #646 :coffin: remove patch config
  wls-gui-wahllokalsystem/src/api/fetch-utils.ts
Labels: service-gui-wls

#661 #584 remove mucatar related elements
  wls-gui-wahllokalsystem/.env
  wls-gui-wahllokalsystem/.env.production
  wls-gui-wahllokalsystem/env.d.ts
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/api/ad2image-avatar-client.ts
  wls-gui-wahllokalsystem/src/components/common/Ad2ImageAvatar.vue
  wls-gui-wahllokalsystem/src/constants.ts
Labels: service-gui-wls

#669 Refactor lokale Variablen entsprechend ihrere Verwendung
  wls-common/exception/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/exception/errorhandler/WlsResponseErrorHandlerTest.java
Labels: refactoring
