Repository it-at-m/Wahllokalsystem, pull requests merged in 2025-08, with the labels that each got.

#1673 1497 der aktive button ist noch nicht gut erkennbar und wird mit inaktiv verwechselt
  wls-gui-wahllokalsystem/package-lock.json
  wls-gui-wahllokalsystem/package.json
  wls-gui-wahllokalsystem/src/styles/settings.scss
  wls-gui-wahllokalsystem/vite.config.ts
Labels: wls-gui-wahllokalsystem

#1696 rename uwb wahlhandlung view and preparation list group test
  wls-gui-wahllokalsystem/src/components/navigation/TheUWBElectionListGroup.vue
  wls-gui-wahllokalsystem/src/constants.ts
  wls-gui-wahllokalsystem/src/plugins/router.ts
  wls-gui-wahllokalsystem/src/views/wahlhandlung/UWBStimmabgabeView.vue
  wls-gui-wahllokalsystem/tests/components/navigation/TheUWBElectionListGroup.spec.ts
Labels: wls-gui-wahllokalsystem

#1700 move function into composable
  wls-gui-wahllokalsystem/src/composables/common/dateTimeFormatter.ts
Labels: wls-gui-wahllokalsystem

#1706 Create http to initialize db
  docs/src/technik/get_started/index.md
  stack/http_requests/initOracleDB.http
Labels: documentation

#1685 1482 refactor suggestion add unmount function on checkanwesenheitcomponent
  wls-gui-wahllokalsystem/src/components/wahlvorstand/TheWahlvorstandAnwesenheitsCheckPopupDialog.vue
  wls-gui-wahllokalsystem/src/composables/dateOfActionTimeout.ts
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/TheWahlvorstandAnwesenheitsCheckPopupDialog.spec.ts
  wls-gui-wahllokalsystem/tests/composables/dateOfActionTimeout.spec.ts
Labels: wls-gui-wahllokalsystem

#1715 move logic to function
  wls-gui-wahllokalsystem/src/stores/wahlenStore.ts
Labels: wls-gui-wahllokalsystem

#1711 Sortierung der Wahlen (Map WahlMetaData to Wahlnummer)
  wls-gui-wahllokalsystem/src/stores/wahlenStore.ts
  wls-gui-wahllokalsystem/tests/stores/wahlenStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1714 1407 Rework Online-Offline-Komponente
  wls-gui-wahllokalsystem/src/components/wlsComponents/TheWlsAppBar.vue
  wls-gui-wahllokalsystem/src/components/wlsComponents/TheWlsOnlineOfflineMenu.vue
  wls-gui-wahllokalsystem/src/components/wlsComponents/WlsHeartbeat.vue
  wls-gui-wahllokalsystem/src/composables/monitoring/monitoringService.ts
  wls-gui-wahllokalsystem/src/stores/onlineOfflineStore.ts
  wls-gui-wahllokalsystem/tests/components/wlsComponents/TheWlsOnlineOfflineMenu.spec.ts
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/TheWlsAppBar.vue/visual logic/should_notRenderNavigationDrawerIcon_when_initializationOfTaskHasNotCompletelyRun.html
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/TheWlsAppBar.vue/visual logic/should_renderNavigationDrawerIcon_when_initializationOfTaskHasCompletelyRun.html
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/TheWlsOnlineOfflineMenu.vue/visual logic/should_renderActivatorButton_when_mounted.html
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/TheWlsOnlineOfflineMenu.vue/visual logic/should_renderMenuInCheckingStateMode_when_activatorButtonWasClicked.html
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/TheWlsOnlineOfflineMenu.vue/visual logic/should_renderMenuInOfflineMode_when_activatorButtonWasClicked.html
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/TheWlsOnlineOfflineMenu.vue/visual logic/should_renderMenuInOnlineMode_when_activatorButtonWasClicked.html
  wls-gui-wahllokalsystem/tests/composables/monitoring/monitoringService.spec.ts
  wls-gui-wahllokalsystem/tests/stores/onlineOfflineStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1719 1407 create composable for logging
  wls-gui-wahllokalsystem/.env.dev
  wls-gui-wahllokalsystem/package.json
  wls-gui-wahllokalsystem/src/composables/basisdaten/handbuchService.ts
  wls-gui-wahllokalsystem/src/composables/briefwahl/briefwahlService.ts
  wls-gui-wahllokalsystem/src/composables/common/logging.ts
  wls-gui-wahllokalsystem/src/composables/monitoring/monitoringCronjobService.ts
  wls-gui-wahllokalsystem/src/composables/monitoring/monitoringService.ts
  wls-gui-wahllokalsystem/src/composables/vorfaelleundvorkommnisse/ereignisService.ts
  wls-gui-wahllokalsystem/src/stores/ereignisStore.ts
  wls-gui-wahllokalsystem/tests/components/basisdaten/BaseInfoHelpListItem.spec.ts
  wls-gui-wahllokalsystem/tests/composables/common/logging.spec.ts
  wls-gui-wahllokalsystem/tests/composables/dateOfActionTimeout.spec.ts
Labels: wls-gui-wahllokalsystem

#1732 #1695 :recycle: eroeffnungsuhrzeit
  wls-gui-wahllokalsystem/src/components/wahlhandlung/BaseWahleroeffnungCard.vue
  wls-gui-wahllokalsystem/src/components/wlsComponents/TheWlsAppBar.vue
  wls-gui-wahllokalsystem/src/stores/wahlbezirkStore.ts
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/BaseWahleroeffnungCard.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlbezirkStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1736 #1695 :recycle: schliessungsuhrzeit
  wls-gui-wahllokalsystem/src/components/vorfaelleundvorkommnisse/TheEreignisseNoEventsCheckboxes.vue
  wls-gui-wahllokalsystem/src/components/wahlhandlung/BaseWahlschliessungCard.vue
  wls-gui-wahllokalsystem/src/components/wlsComponents/TheWlsAppBar.vue
  wls-gui-wahllokalsystem/src/stores/ereignisStore.ts
  wls-gui-wahllokalsystem/src/stores/wahlbezirkStore.ts
  wls-gui-wahllokalsystem/src/stores/wahlvorstandStore.ts
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/TheEreignisseNoEventsCheckboxes.spec.ts
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/BaseWahlschliessungCard.spec.ts
  wls-gui-wahllokalsystem/tests/stores/ereignisStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlbezirkStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlvorstandStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1740 1183 rules als export function
  wls-gui-wahllokalsystem/src/components/common/dialogs/BaseDialogBegruendung.vue
  wls-gui-wahllokalsystem/src/components/common/inputs/BaseDateInput.vue
  wls-gui-wahllokalsystem/src/components/common/inputs/BaseTimeInput.vue
  wls-gui-wahllokalsystem/src/components/ergebnisermittlung/TheErgebnisermittlungStimmzettelumschlaegeCard.vue
  wls-gui-wahllokalsystem/src/components/vorfaelleundvorkommnisse/BaseEreignisRow.vue
  wls-gui-wahllokalsystem/src/components/wahlhandlung/BaseWahleroeffnungCard.vue
  wls-gui-wahllokalsystem/src/components/wahlhandlung/BaseWahlschliessungCard.vue
  wls-gui-wahllokalsystem/src/components/wahlhandlung/BaseWahlumgebungWahlurnenDiv.vue
  wls-gui-wahllokalsystem/src/components/wahlhandlung/TheUnguetilgeWahlscheineVerifyCard.vue
  wls-gui-wahllokalsystem/src/components/wahlhandlung/TheWahlbriefErfassungCard.vue
  wls-gui-wahllokalsystem/src/components/wahlhandlung/TheWahlumgebungUwbCard.vue
  wls-gui-wahllokalsystem/src/components/wahlhandlung/beanstandeteWahlbriefe/TheBeanstandeteWahlbriefeTable.vue
  wls-gui-wahllokalsystem/src/composables/common/rules.ts
  wls-gui-wahllokalsystem/src/util/rules.ts
  wls-gui-wahllokalsystem/stories/components/common/inputs/BaseNumberInput.stories.ts
  wls-gui-wahllokalsystem/tests/components/common/inputs/BaseNumberInput.spec.ts
  wls-gui-wahllokalsystem/tests/components/common/inputs/BaseTimeInput.spec.ts
  wls-gui-wahllokalsystem/tests/composables/common/rules.spec.ts
Labels: wls-gui-wahllokalsystem

#1741 #1695 :recycle: urnenwahlVorbereitung
  wls-gui-wahllokalsystem/src/components/wahlhandlung/TheWahlumgebungUwbCard.vue
  wls-gui-wahllokalsystem/src/stores/wahlbezirkStore.ts
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/TheWahlumgebungUwbCard.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlbezirkStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1742 #1695 :recycle: briefwahlVorbereitung
  wls-gui-wahllokalsystem/src/components/wahlhandlung/TheWahlumgebungBwbCard.vue
  wls-gui-wahllokalsystem/src/stores/wahlbezirkStore.ts
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/TheWahlumgebungBwbCard.spec.ts
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/TheWahlumgebungBwbCard.vue/visual logic/should_renderWithTwoInputFieldsAndSaveButtonEnabled_when_twoWahlenAreGivenAndAllInputsAreValid.html
  wls-gui-wahllokalsystem/tests/stores/wahlbezirkStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1738 1735 probleme mit gecachten antworten mit http status 204
  wls-gui-wahllokalsystem/src/composables/common/commonApiUtils.ts
  wls-gui-wahllokalsystem/src/composables/common/requestStrategies.ts
  wls-gui-wahllokalsystem/src/composables/indexDB/dataSyncer.ts
  wls-gui-wahllokalsystem/src/types/indexDB/IndexDBValue.ts
  wls-gui-wahllokalsystem/tests/composables/common/commonApiUtils.spec.ts
  wls-gui-wahllokalsystem/tests/composables/common/requestStrategies.spec.ts
Labels: wls-gui-wahllokalsystem

#1749 Release/sprint 28 backend services
  wls-admin-service/pom.xml
  wls-auth-service/pom.xml
  wls-basisdaten-service/pom.xml
  wls-briefwahl-service/pom.xml
  wls-broadcast-service/pom.xml
  wls-eai-service/pom.xml
  wls-ergebnismeldung-service/pom.xml
  wls-infomanagement-service/pom.xml
  wls-monitoring-service/pom.xml
  wls-vorfaelleundvorkommnisse-service/pom.xml
  wls-wahlvorbereitung-service/pom.xml
  wls-wahlvorstand-service/pom.xml
Labels: service-broadcast, service-briefwahl, service-ergebnismeldung, service-wahlvorstand, service-admin, service-wahlvorbereitung, service-monitoring, service-infomanagement, service-basisdaten, service-vorfaelleundvorkommnisse, service-auth, service-eai

#1771 1657 erfassung ungültiger wahlscheine erweitern
  docs/src/about/index.md
  wls-gui-wahllokalsystem/src/components/wahlhandlung/TheUnguetilgeWahlscheineVerifyCard.vue
  wls-gui-wahllokalsystem/src/composables/vorfaelleundvorkommnisse/ereignisMapper.ts
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/TheUnguetilgeWahlscheineVerifyCard.spec.ts
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/TheUnguetilgeWahlscheineVerifyCard.vue/visual logic/should_renderInvalidWahlscheinWithDisabledSaveButtonAndChangeSearchButtonLabel_when_wahlscheinnummerIsPartOfUngueltigeWahlscheine.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/TheUnguetilgeWahlscheineVerifyCard.vue/visual logic/should_renderInvalidWahlscheinWithEnabledSaveButtonAndChangeSearchButtonLabel_when_wahlscheinnummerIsPartOfUngueltigeWahlscheineAndAbstimmungEingetragen.html
  wls-gui-wahllokalsystem/tests/composables/vorfaelleundvorkommnisse/ereignisMapper.spec.ts
Labels: documentation, wls-gui-wahllokalsystem

#1781 add rule for schliessungsuhrzeit
  wls-gui-wahllokalsystem/src/components/wahlhandlung/TheWahlbriefErfassungCard.vue
Labels: wls-gui-wahllokalsystem

#1778 1656 input feedback cards überarbeiten
  wls-gui-wahllokalsystem/src/components/common/cards/BaseInputFeedbackCard.vue
  wls-gui-wahllokalsystem/src/composables/common/inputFeedbackUtils.ts
  wls-gui-wahllokalsystem/src/plugins/vuetify.ts
  wls-gui-wahllokalsystem/src/types/common/InputFeedbackTypeEnum.ts
  wls-gui-wahllokalsystem/stories/components/common/cards/BaseInputFeedbackCard.stories.ts
  wls-gui-wahllokalsystem/tests/components/common/cards/BaseInputFeedbackCard.spec.ts
  wls-gui-wahllokalsystem/tests/components/common/cards/__snapshots__/BaseInputFeedbackCard.vue/visual logic/should_renderWithAdditionalFeedback_when_additionalFeedbackSlotIsUsed.html
  wls-gui-wahllokalsystem/tests/components/common/cards/__snapshots__/BaseInputFeedbackCard.vue/visual logic/should_renderWithoutAdditionalFeedback_when_additionalFeedbackSlotIsNotUsed.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/BaseWaehlerverzeichnisCheckCard.vue/visual logic/should_renderSaveButtonDisabled_when_mitteilungUeberUngueltigeWahlscheineErhaltenIsFalse.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/BaseWaehlerverzeichnisCheckCard.vue/visual logic/should_renderSaveInLoadingState_when_pflegeWaehlerverzeichnisIsSavingIsTrue.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/BaseWaehlerverzeichnisCheckCard.vue/visual logic/should_renderWithChangesInWaehlerverzeichnisAndAllCheckboxesSelected_when_mounted.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/BaseWaehlerverzeichnisCheckCard.vue/visual logic/should_renderWithNoChangesInWaehlerverzeichnisAndAllCheckboxesSelected_when_mounted.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/BaseWaehlerverzeichnisCheckCard.vue/visual logic/should_renderWithNoChangesInWaehlerverzeichnisAndNoCheckboxesSelected_when_mounted.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/TheUnguetilgeWahlscheineVerifyCard.vue/visual logic/should_renderEmptyCard_when_mounted.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/TheUnguetilgeWahlscheineVerifyCard.vue/visual logic/should_renderErrorMessage_when_wahlscheinnummerIsAboveMaxValue.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/TheUnguetilgeWahlscheineVerifyCard.vue/visual logic/should_renderErrorMessage_when_wahlscheinnummerIsBelowMinValue.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/TheUnguetilgeWahlscheineVerifyCard.vue/visual logic/should_renderInvalidWahlscheinWithDisabledSaveButtonAndChangeSearchButtonLabel_when_wahlscheinnummerIsPartOfUngueltigeWahlscheine.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/TheUnguetilgeWahlscheineVerifyCard.vue/visual logic/should_renderInvalidWahlscheinWithEnabledSaveButtonAndChangeSearchButtonLabel_when_wahlscheinnummerIsPartOfUngueltigeWahlscheineAndAbstimmungEingetragen.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/TheUnguetilgeWahlscheineVerifyCard.vue/visual logic/should_renderNoErrorMessage_when_wahlscheinnummerIsMaxValue.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/TheUnguetilgeWahlscheineVerifyCard.vue/visual logic/should_renderNoErrorMessage_when_wahlscheinnummerIsMinValue.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/TheUnguetilgeWahlscheineVerifyCard.vue/visual logic/should_renderValidWahlscheinAndChangeSearchButtonLabel_when_wahlscheinnummerIsNotPartOfUngueltigeWahlscheine.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/TheUnguetilgeWahlscheineVerifyCard.vue/visual logic/should_renderWarning_when_noDataIsAvailable.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/TheUnguetilgeWahlscheineVerifyCard.vue/visual logic/should_renderWarning_when_noLoadingOfListeFailed.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/TheUnguetilgeWahlscheineVerifyCard.vue/visual logic/should_renderWithRequiredErrorMessage_when_wahlscheinNummerInputIsSetEmpty.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/TheWahlumgebungUwbCard.vue/visual logic/should_renderWithFiveInputFieldsAndDisabledSaveButton_when_twoWahlenAreGiven.html
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/__snapshots__/TheWahlumgebungUwbCard.vue/visual logic/should_renderWithThreeInputFieldsAndDisabledSaveButton_when_noWahlenAreGiven.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitRequirementCard.vue/visual logic/should_showErrorText_when_mindestAnwesenheitIsNotGiven.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitRequirementCard.vue/visual logic/should_showErrorText_when_schriftfuehrerIsNotAnwesend.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitRequirementCard.vue/visual logic/should_showErrorText_when_wahlvorsteherIsNotAnwesend.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitRequirementCard.vue/visual logic/should_showNoErrorTexts_when_allRequirementsAreSatisfied.html
  wls-gui-wahllokalsystem/tests/composables/common/inputFeedbackUtils.spec.ts
Labels: wls-gui-wahllokalsystem

#1780 1549 stimmabgabevermerke uwb darstellung summen der erfassten daten
  wls-gui-wahllokalsystem/src/components/stimmabgabevermerke/TheUWBStimmabgabevermerkeDarstellungSummeCard.vue
  wls-gui-wahllokalsystem/src/components/stimmabgabevermerke/TheUWBStimmabgabevermerkeDarstellungSummeTable.vue
  wls-gui-wahllokalsystem/src/stores/stimmabgabevermerkeStore.ts
  wls-gui-wahllokalsystem/stories/components/stimmabgabevermerke/TheUWBStimmabgabevermerkeDarstellungSummeCard.stories.ts
  wls-gui-wahllokalsystem/tests/stores/stimmabgabevermerkeStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1756 1638 Refactor ereignisStore
  wls-gui-wahllokalsystem/src/components/vorfaelleundvorkommnisse/TheEreignisseNoEventsCheckboxes.vue
  wls-gui-wahllokalsystem/src/composables/vorfaelleundvorkommnisse/ereignisMapper.ts
  wls-gui-wahllokalsystem/src/composables/vorfaelleundvorkommnisse/ereignisUtils.ts
  wls-gui-wahllokalsystem/src/stores/ereignisStore.ts
  wls-gui-wahllokalsystem/src/stores/wahlbezirkStore.ts
  wls-gui-wahllokalsystem/src/types/vorfaelleundvorkommnisse/WahlbezirkEreignisse.ts
  wls-gui-wahllokalsystem/src/views/EreignisseView.vue
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/BaseWahleroeffnungCard.spec.ts
  wls-gui-wahllokalsystem/tests/components/wahlhandlung/TheUnguetilgeWahlscheineVerifyCard.spec.ts
  wls-gui-wahllokalsystem/tests/composables/vorfaelleundvorkommnisse/ereignisUtils.spec.ts
  wls-gui-wahllokalsystem/tests/stores/ereignisStore.spec.ts
  wls-gui-wahllokalsystem/tests/views/EreignisseView.spec.ts
Labels: wls-gui-wahllokalsystem

#1789 1686 laden der wahlvorschlaege bei initialisierung
  wls-eai-service/src/main/resources/db/dummydata/h2/V8_0__addMissingWahlvorschlaegeForWahlbezirke.sql
  wls-eai-service/src/main/resources/db/dummydata/oracle/V8_0__addMissingWahlvorschlaegeForWahlbezirke.sql
  wls-gui-wahllokalsystem/src/composables/tasks/taskFactories/wahlvorschlaegeTaskFactory.ts
  wls-gui-wahllokalsystem/src/composables/tasks/taskListService.ts
  wls-gui-wahllokalsystem/src/composables/wahlvorschlaege/wahlvorschlaegeMapper.ts
  wls-gui-wahllokalsystem/src/composables/wahlvorschlaege/wahlvorschlaegeService.ts
  wls-gui-wahllokalsystem/src/stores/wahlvorschlaegeStore.ts
  wls-gui-wahllokalsystem/src/types/wahlvorschlaege/Kandidat.ts
  wls-gui-wahllokalsystem/src/types/wahlvorschlaege/Wahlvorschlaege.ts
  wls-gui-wahllokalsystem/src/types/wahlvorschlaege/Wahlvorschlag.ts
  wls-gui-wahllokalsystem/tests/composables/tasks/taskFactories/wahlvorschlaegeTaskFactory.spec.ts
  wls-gui-wahllokalsystem/tests/composables/wahlvorschlaege/wahlvorschlaegeMapper.spec.ts
  wls-gui-wahllokalsystem/tests/composables/wahlvorschlaege/wahlvorschlaegeService.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlvorschlaegeStore.spec.ts
  wls-gui-wahllokalsystem/tests/utils/wahlvorschlaege/WahlvorschlaegeTestDataFactory.ts
Labels: service-eai, wls-gui-wahllokalsystem
