Repository it-at-m/Wahllokalsystem, pull requests merged in 2025-05, with the labels that each got.

#1238 911 eine vorhandene broadcastnachricht wird angezeigt und bestätigt
  docs/src/technik/guides/api-client-generation/generate-client-from-openapi-json-frontend.md
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/components/broadcast/TheBroadcastReadConfirmationDialog.vue
  wls-gui-wahllokalsystem/src/composables/broadcast/broadcastCronjobService.ts
  wls-gui-wahllokalsystem/src/composables/broadcast/broadcastMapper.ts
  wls-gui-wahllokalsystem/src/composables/broadcast/broadcastService.ts
  wls-gui-wahllokalsystem/src/composables/wlsClients/broadcastService/useBroadcastService.ts
  wls-gui-wahllokalsystem/src/constants.ts
  wls-gui-wahllokalsystem/src/plugins/router.ts
  wls-gui-wahllokalsystem/src/plugins/vuetify.ts
  wls-gui-wahllokalsystem/src/stores/broadcastStore.ts
  wls-gui-wahllokalsystem/src/types/broadcast/broadcastMessage.ts
  wls-gui-wahllokalsystem/src/views/ExampleBackendCommunicationView.vue
  wls-gui-wahllokalsystem/tests/component/ExampleBackendCommunicationView.spec.ts
  wls-gui-wahllokalsystem/tests/components/broadcast/TheBroadcastReadConfirmationDialog.spec.ts
  wls-gui-wahllokalsystem/tests/components/broadcast/__snapshots__/TheBroadcastReadConfirmationDialog.vue/visual logic/should_renderDialogWithOkButtonEnabled_when_checkboxWasSelected.html
  wls-gui-wahllokalsystem/tests/components/broadcast/__snapshots__/TheBroadcastReadConfirmationDialog.vue/visual logic/should_renderDialog_when_broadcastMessageIsGiven.html
  wls-gui-wahllokalsystem/tests/composables/broadcast/broadcastCronjobService.spec.ts
  wls-gui-wahllokalsystem/tests/composables/broadcast/broadcastMapper.spec.ts
  wls-gui-wahllokalsystem/tests/composables/broadcast/broadcastService.spec.ts
  wls-gui-wahllokalsystem/tests/stores/broadcastStore.spec.ts
  wls-gui-wahllokalsystem/tests/utils/Builder.ts
  wls-gui-wahllokalsystem/tests/utils/broadcast/BroadcastTestDataFactory.ts
  wls-gui-wahllokalsystem/tests/utils/common/CommonTestDataFactory.ts
Labels: documentation, wls-gui-wahllokalsystem

#1128 999 beschreibung des konzeptes zur offlinefähigkeit
  docs/.vitepress/config.mts
  docs/src/public/offlinesyncer/offlinekonzept.png
  docs/src/public/offlinesyncer/offlinesyncher.png
  docs/src/technik/systemspecification/frontend/offlinefaehigkeit-konzept.md
Labels: documentation

#1239 1061 - redesign - move logic from component to store
  wls-gui-wahllokalsystem/src/components/common/inputs/BaseTimeInput.vue
  wls-gui-wahllokalsystem/src/components/vorfaelleundvorkommnisse/TheEreignisseRow.vue
  wls-gui-wahllokalsystem/src/components/wahlvorbereitung/BaseWahlschliessungCard.vue
  wls-gui-wahllokalsystem/src/stores/ereignisStore.ts
  wls-gui-wahllokalsystem/tests/components/common/inputs/__snapshots__/BaseTimeInput.vue/visual logic/should_renderErrorMessage_when_ruleRequiredIsViolated.html
  wls-gui-wahllokalsystem/tests/components/common/inputs/__snapshots__/BaseTimeInput.vue/visual logic/should_renderTextFieldWithCorrectLabel_when_componentIsMounted.html
  wls-gui-wahllokalsystem/tests/components/common/inputs/__snapshots__/BaseTimeInput.vue/visual logic/should_renderTimeInput_when_inputIsTyped.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/TheEreignisseRow.spec.ts
  wls-gui-wahllokalsystem/tests/stores/ereignisStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1250 change naming of `vorfaelleundvorkommnisse` to `ereignisse`
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/constants.ts
  wls-gui-wahllokalsystem/src/plugins/router.ts
Labels: wls-gui-wahllokalsystem

#1252 1145 archunit rule zu abhängigkeiten anpassen
  wls-common/testing/src/main/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/rule/ClassRules.java
Labels: wls-common

#1257 1249 hmr für alle stores enablen
  wls-gui-admintool/src/App.vue
  wls-gui-admintool/src/stores/userStore.ts
  wls-gui-wahllokalsystem/src/stores/broadcastStore.ts
  wls-gui-wahllokalsystem/src/stores/userStore.ts
  wls-gui-wahllokalsystem/src/stores/wahlbezirkStore.ts
  wls-gui-wahllokalsystem/src/stores/wahlvorstandStore.ts
Labels: wls-gui-wahllokalsystem, wls-gui-admin

#1247 1184 verwendung von konstanten für komponententestsuits
  docs/src/technik/naming_conventions/tests.md
  wls-gui-admintool/tests/components/wahltag/BaseInitProgress.spec.ts
  wls-gui-admintool/tests/components/wahltag/BaseRowInitProgress.spec.ts
  wls-gui-wahllokalsystem/tests/component/ExamplePrintView.spec.ts
  wls-gui-wahllokalsystem/tests/components/broadcast/TheBroadcastReadConfirmationDialog.spec.ts
  wls-gui-wahllokalsystem/tests/components/common/icons/BaseIconWahlbezirksart.spec.ts
  wls-gui-wahllokalsystem/tests/components/common/inputs/BaseNumberInput.spec.ts
  wls-gui-wahllokalsystem/tests/components/common/inputs/BaseTimeInput.spec.ts
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/TheEreignisseRow.spec.ts
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/TheWahlvorstandAnwesenheitRequirementCard.spec.ts
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/TheWahlvorstandMitgliederTable.spec.ts
  wls-gui-wahllokalsystem/tests/utils/testutils.ts
Labels: documentation, wls-gui-wahllokalsystem, wls-gui-admin

#1259 BaseStepWahltagInit tests erweitert
  wls-gui-admintool/tests/components/wahltag/BaseStepWahltagInit.spec.ts
Labels: wls-gui-admin

#1253 1228 :bug: fix mapping der funktionsnamen
  wls-wahlvorstand-service/src/main/resources/application-funktionsnamen.yml
  wls-wahlvorstand-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/service/wahlvorstand/FunktionsamenMappingPropertiesTest.java
Labels: service-wahlvorstand

#1242 1061 erfassung von vorkommnissen
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/components/common/buttons/BaseButtonSave.vue
  wls-gui-wahllokalsystem/src/components/common/inputs/BaseTimeInput.vue
  wls-gui-wahllokalsystem/src/components/vorfaelleundvorkommnisse/TheEreignisseNoEventsCheckboxes.vue
  wls-gui-wahllokalsystem/src/components/vorfaelleundvorkommnisse/TheEreignisseRow.vue
  wls-gui-wahllokalsystem/src/composables/common/dateTimeUtils.ts
  wls-gui-wahllokalsystem/src/composables/vorfaelleundvorkommnisse/ereignisService.ts
  wls-gui-wahllokalsystem/src/composables/wahlvorbereitung/wahlvorbereitungMapper.ts
  wls-gui-wahllokalsystem/src/composables/wahlvorbereitung/wahlvorbereitungService.ts
  wls-gui-wahllokalsystem/src/stores/ereignisStore.ts
  wls-gui-wahllokalsystem/src/stores/wahlbezirkStore.ts
  wls-gui-wahllokalsystem/src/types/vorfaelleundvorkommnisse/Ereignisart.ts
  wls-gui-wahllokalsystem/src/views/EreignisseView.vue
  wls-gui-wahllokalsystem/tests/components/common/inputs/__snapshots__/BaseTimeInput.vue/visual logic/should_renderErrorMessage_when_ruleRequiredIsViolated.html
  wls-gui-wahllokalsystem/tests/components/common/inputs/__snapshots__/BaseTimeInput.vue/visual logic/should_renderTextFieldWithCorrectLabel_when_componentIsMounted.html
  wls-gui-wahllokalsystem/tests/components/common/inputs/__snapshots__/BaseTimeInput.vue/visual logic/should_renderTimeInput_when_inputIsTyped.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/TheEreignisseNoEventsCheckboxes.spec.ts
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/TheEreignisseRow.spec.ts
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/databinding/should_renderCheckboxesSelected_when_keineEreignisseFlagsInStoreAreTrue.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/databinding/should_renderCheckboxesUnselected_when_keineEreignisseFlagsInStoreAreFalse.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorfaelle/should_renderKeineVorfaelleDisabled_when_vorfaelleAreGivenInStore.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorfaelle/should_renderKeineVorfaelleEnabled_when_noVorfaelleAreGivenInStore.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorkommnisse/should_renderKeineVorkommnisseDisabled_when_noVorkommnisseAreGivenInStoreButSchliessungsuhrzeitIsNotSet.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorkommnisse/should_renderKeineVorkommnisseDisabled_when_vorkommnisseAreGivenInStore.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorkommnisse/should_renderKeineVorkommnisseEnabled_when_noVorkommnisseAreGivenInStoreAndSchliessunguhrzeitIsSet.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseRow.vue/visual logic/should_showMultipleRows_when_multipleEreignisseAreGiven.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseRow.vue/visual logic/should_showOneRow_when_oneEreignisIsGiven.html
  wls-gui-wahllokalsystem/tests/composables/common/dateTimeUtils.spec.ts
  wls-gui-wahllokalsystem/tests/composables/vorfaelleundvorkommnisse/ereignisService.spec.ts
  wls-gui-wahllokalsystem/tests/stores/ereignisStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlbezirkStore.spec.ts
  wls-gui-wahllokalsystem/tests/types/vorfaelleundvorkommnisse/Ereignisart.spec.ts
  wls-gui-wahllokalsystem/tests/utils/common/CommonTestDataFactory.ts
  wls-gui-wahllokalsystem/tests/utils/vorfaelleundvorkommnisse/VorfaelleundvorkommnisseTestDateFactory.ts
  wls-gui-wahllokalsystem/tests/views/EreignisseView.spec.ts
Labels: wls-gui-wahllokalsystem

#1261 🎨 Refactor auf Selfclosingtags und Entfernung von leeren scoped styles in wls-gui und admin-gui
  wls-gui-admintool/src/components/common/BaseAutocompleteWahltag.vue
  wls-gui-admintool/src/components/common/BaseIconButtonRefresh.vue
  wls-gui-admintool/src/components/wahltag/BaseInitProgress.vue
  wls-gui-admintool/src/components/wahltag/TheWahltagInitProgressDiv.vue
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/components/broadcast/TheBroadcastReadConfirmationDialog.vue
  wls-gui-wahllokalsystem/src/components/common/icons/BaseIconWahlbezirksart.vue
  wls-gui-wahllokalsystem/src/components/common/inputs/BaseNumberInput.vue
  wls-gui-wahllokalsystem/src/components/common/inputs/BaseTimeInput.vue
  wls-gui-wahllokalsystem/src/components/vorfaelleundvorkommnisse/TheEreignisseRow.vue
  wls-gui-wahllokalsystem/src/components/wlsComponents/OfflineSyncer.vue
  wls-gui-wahllokalsystem/src/components/wlsComponents/WlsHeartbeat.vue
  wls-gui-wahllokalsystem/src/views/ExampleNewRouteView.vue
  wls-gui-wahllokalsystem/src/views/ExamplePrintView.vue
  wls-gui-wahllokalsystem/src/views/ExampleToastView.vue
  wls-gui-wahllokalsystem/src/views/ExampleValidation.vue
  wls-gui-wahllokalsystem/src/views/HomeView.vue
  wls-gui-wahllokalsystem/src/views/WahlschliessungView.vue
Labels: wls-gui-wahllokalsystem, wls-gui-admin

#1265 remove unused code
  wls-gui-admintool/src/constants.ts
  wls-gui-wahllokalsystem/src/constants.ts
Labels: wls-gui-wahllokalsystem, wls-gui-admin

#1266 increase content width on larger displays
  docs/.vitepress/theme/custom.css
Labels: documentation

#1269 :bug: fix test names
  wls-gui-admintool/tests/composables/common/rules.spec.ts
Labels: wls-gui-wahllokalsystem, wls-gui-admin

#1260 1120 laden der wahlen beim start der anwendung
  wls-auth-service/src/main/resources/db/dummydata/h2/R__setWahlbezirkIDAndWahltagIDForWlsAll.sql
  wls-auth-service/src/main/resources/db/dummydata/oracle/R__setWahlbezirkIDAndWahltagIDForWlsAll.sql
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/api/user-client.ts
  wls-gui-wahllokalsystem/src/components/common/progressLinear/BaseProgressLinear.vue
  wls-gui-wahllokalsystem/src/components/wlsComponents/BaseOfflineLoading.vue
  wls-gui-wahllokalsystem/src/composables/tasks/taskListService.ts
  wls-gui-wahllokalsystem/src/composables/wahl/wahlMapper.ts
  wls-gui-wahllokalsystem/src/composables/wahl/wahlService.ts
  wls-gui-wahllokalsystem/src/constants.ts
  wls-gui-wahllokalsystem/src/plugins/router.ts
  wls-gui-wahllokalsystem/src/plugins/vuetify.ts
  wls-gui-wahllokalsystem/src/stores/taskManagerStore.ts
  wls-gui-wahllokalsystem/src/stores/userStore.ts
  wls-gui-wahllokalsystem/src/stores/wahlenStore.ts
  wls-gui-wahllokalsystem/src/types/User.ts
  wls-gui-wahllokalsystem/src/types/tasks/Task.ts
  wls-gui-wahllokalsystem/src/types/wahl/Farbe.ts
  wls-gui-wahllokalsystem/src/types/wahl/Wahl.ts
  wls-gui-wahllokalsystem/src/types/wahl/WahlWahlartEnum.ts
  wls-gui-wahllokalsystem/src/views/HomeView.vue
  wls-gui-wahllokalsystem/stories/components/common/progressLinear/BaseProgressLinear.stories.ts
  wls-gui-wahllokalsystem/tests/components/broadcast/__snapshots__/TheBroadcastReadConfirmationDialog.vue/visual logic/should_renderDialogWithOkButtonEnabled_when_checkboxWasSelected.html
  wls-gui-wahllokalsystem/tests/components/broadcast/__snapshots__/TheBroadcastReadConfirmationDialog.vue/visual logic/should_renderDialog_when_broadcastMessageIsGiven.html
  wls-gui-wahllokalsystem/tests/components/common/inputs/__snapshots__/BaseTimeInput.vue/visual logic/should_renderTextFieldWithCorrectLabel_when_componentIsMounted.html
  wls-gui-wahllokalsystem/tests/components/common/inputs/__snapshots__/BaseTimeInput.vue/visual logic/should_renderTimeInput_when_inputIsTyped.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseRow.vue/visual logic/should_showMultipleRows_when_multipleEreignisseAreGiven.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseRow.vue/visual logic/should_showOneRow_when_oneEreignisIsGiven.html
  wls-gui-wahllokalsystem/tests/components/wlsComponents/BaseOfflineLoading.spec.ts
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/BaseOfflineLoading.vue/visual logic/should_showHeadlineLoadingText_when_stillLoading.html
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/BaseOfflineLoading.vue/visual logic/should_showOneTaskFail_when_runFailed.html
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/BaseOfflineLoading.vue/visual logic/should_showOneTaskSuccessfulRun_when_runSuccessful.html
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/BaseOfflineLoading.vue/visual logic/should_showTaskNamesInExpansionPanel_when_runFailed.html
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/BaseOfflineLoading.vue/visual logic/should_showTaskNamesInExpansionPanel_when_runSuccessful.html
  wls-gui-wahllokalsystem/tests/composables/wahl/wahlMapper.spec.ts
  wls-gui-wahllokalsystem/tests/composables/wahl/wahlService.spec.ts
  wls-gui-wahllokalsystem/tests/stores/taskManagerStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlenStore.spec.ts
  wls-gui-wahllokalsystem/tests/utils/common/CommonTestDataFactory.ts
  wls-gui-wahllokalsystem/tests/utils/tasks/TasksTestDataFactory.ts
  wls-gui-wahllokalsystem/tests/utils/wahl/WahlTestDataFactory.ts
Labels: service-auth, wls-gui-wahllokalsystem

#1273 849 update page title, add artifact to title
  docs/.vitepress/config.mts
  docs/src/technik/ecosystem/workflowsAndArtifacts.md
  docs/src/technik/guides/new-microservice/index.md
Labels: documentation

#1272 1267 Schliessungsuhrzeitsent gesetzt obwohl speichern nicht erfolgreich war
  wls-gui-wahllokalsystem/src/composables/wahlvorbereitung/wahlvorbereitungService.ts
  wls-gui-wahllokalsystem/src/stores/wahlbezirkStore.ts
  wls-gui-wahllokalsystem/tests/composables/wahlvorbereitung/wahlvorbereitungService.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlbezirkStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1277 Inhaltsbreite auf Seite ohne Seitenavigation auf 100% erweitert
  docs/.vitepress/theme/custom.css
Labels: documentation

#1288 fix typo in docs
  docs/src/about/index.md
Labels: documentation

#1276 Übersicht über Aktionen des System über die Phasen des Wahlprozesses ergänzt
  docs/src/about/index.md
  docs/src/public/relationshipOfUIsToElectionProcess.drawio.png
Labels: documentation

#1301 ♻️ use camelCase
  wls-gui-wahllokalsystem/src/components/vorfaelleundvorkommnisse/TheEreignisseRow.vue
Labels: wls-gui-wahllokalsystem

#1297 1294 replace user-client with auth service api
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/api/user-client.ts
  wls-gui-wahllokalsystem/src/components/common/icons/BaseIconWahlbezirksart.vue
  wls-gui-wahllokalsystem/src/composables/user/userMapper.ts
  wls-gui-wahllokalsystem/src/composables/user/userService.ts
  wls-gui-wahllokalsystem/src/constants.ts
  wls-gui-wahllokalsystem/src/stores/userStore.ts
  wls-gui-wahllokalsystem/src/types/User.ts
  wls-gui-wahllokalsystem/src/types/wlsTypes/WahlMetaData.ts
  wls-gui-wahllokalsystem/tests/components/common/icons/BaseIconWahlbezirksart.spec.ts
  wls-gui-wahllokalsystem/tests/composables/user/userMapper.spec.ts
  wls-gui-wahllokalsystem/tests/composables/user/userService.spec.ts
  wls-gui-wahllokalsystem/tests/stores/userStore.spec.ts
  wls-gui-wahllokalsystem/tests/utils/common/CommonTestDataFactory.ts
  wls-gui-wahllokalsystem/tests/utils/user/UserTestDataFactory.ts
Labels: wls-gui-wahllokalsystem

#1306 1268-Fehlende Tests im wahlvorstandstore
  wls-gui-wahllokalsystem/tests/stores/wahlvorstandStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1308 #1262 add generateRandomString function to admin tool testdata factory
  wls-gui-admintool/tests/utils/common/CommonTestDataFactory.ts
Labels: wls-gui-admin

#1300 1046-bump-node-version-wls-gui-wahllokalsystem
  .github/workflows/callable-create-github-container-image-frontend.yml
  .github/workflows/callable-run-npm-build.yml
  wls-gui-admintool/package-lock.json
  wls-gui-admintool/package.json
  wls-gui-wahllokalsystem/package-lock.json
  wls-gui-wahllokalsystem/package.json
Labels: wls-gui-wahllokalsystem, wls-gui-admin

#1275 943 pflege der wahlbeteiligung
  wls-auth-service/src/main/resources/db/dummydata/h2/R__setUserDataForWlsAllUsers.sql
  wls-auth-service/src/main/resources/db/dummydata/oracle/R__setUserDataForWlsAllUsers.sql
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/components/monitoring/TheWaehleranzahlCountButton.vue
  wls-gui-wahllokalsystem/src/composables/monitoring/monitoringCronjobService.ts
  wls-gui-wahllokalsystem/src/composables/monitoring/monitoringService.ts
  wls-gui-wahllokalsystem/src/composables/monitoring/wahlbeteiligungMapper.ts
  wls-gui-wahllokalsystem/src/composables/user/userMapper.ts
  wls-gui-wahllokalsystem/src/constants.ts
  wls-gui-wahllokalsystem/src/plugins/vuetify.ts
  wls-gui-wahllokalsystem/src/stores/monitoringStore.ts
  wls-gui-wahllokalsystem/src/stores/userStore.ts
  wls-gui-wahllokalsystem/src/types/monitoring/Waehleranzahl.ts
  wls-gui-wahllokalsystem/src/types/wlsTypes/WbId_Wahlnummer.ts
  wls-gui-wahllokalsystem/stories/components/monitoring/TheWaehleranzahlCountButton.stories.ts
  wls-gui-wahllokalsystem/tests/components/monitoring/TheWaehleranzahlCountButton.spec.ts
  wls-gui-wahllokalsystem/tests/components/monitoring/__snapshots__/TheWaehleranzahlCountButton/visual logic/should_renderButtonWithCorrectLabelAndIcon_when_componentIsMounted.html
  wls-gui-wahllokalsystem/tests/components/monitoring/__snapshots__/TheWaehleranzahlCountButton/visual logic/should_renderButtonWithCorrectWaehleranzahl_when_waehleranzahlIsSet.html
  wls-gui-wahllokalsystem/tests/composables/monitoring/monitoringService.spec.ts
  wls-gui-wahllokalsystem/tests/stores/monitoringStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/userStore.spec.ts
  wls-gui-wahllokalsystem/tests/utils/common/UserTestDataFactory.ts
  wls-gui-wahllokalsystem/tests/utils/user/UserTestDataFactory.ts
Labels: service-auth, wls-gui-wahllokalsystem

#1307 850 das testkonzept für backend services ist beschrieben
  docs/.vitepress/config.mts
  docs/src/technik/systemspecification/backend.md
  docs/src/technik/testconcepts/backend.md
  docs/src/technik/testconcepts/index.md
Labels: documentation

#1321 1012 wahlvorbereitung service einhaltung der abhängigkeiten
  wls-wahlvorbereitung-service/pom.xml
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/archunit/ArchUnitTest.java
Labels: service-wahlvorbereitung

#1310 853 interface und builder für user bereitstellen
  wls-gui-wahllokalsystem/src/composables/user/userMapper.ts
  wls-gui-wahllokalsystem/src/composables/user/userService.ts
  wls-gui-wahllokalsystem/src/stores/userStore.ts
  wls-gui-wahllokalsystem/src/types/User.ts
  wls-gui-wahllokalsystem/stories/components/common/icons/BaseIconWahlbezirksart.stories.ts
  wls-gui-wahllokalsystem/tests/stores/broadcastStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/ereignisStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/monitoringStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/userStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlbezirkStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlenStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlvorstandStore.spec.ts
  wls-gui-wahllokalsystem/tests/utils/common/UserTestDataFactory.ts
  wls-gui-wahllokalsystem/tests/utils/user/UserTestDataFactory.ts
Labels: wls-gui-wahllokalsystem

#1315 1254 - Loading-Anzeige beim Speichern und Aktualisieren des Wahlvorstandes
  wls-gui-wahllokalsystem/src/stores/wahlvorstandStore.ts
  wls-gui-wahllokalsystem/src/views/WahlvorstandAnwesenheitView.vue
  wls-gui-wahllokalsystem/tests/stores/wahlvorstandStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1324 1009 monitoring service einhaltung der abhängigkeiten
  wls-monitoring-service/pom.xml
  wls-monitoring-service/src/test/java/de/muenchen/oss/wahllokalsystem/monitoringservice/archunit/ArchUnitTest.java
Labels: service-monitoring

#1320 1318 - Aktualisieren und initiales Laden des Wahlvorstandes muss mit forceUpdate erfolgen
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/components/wahlvorstand/TheNachbesetzungDruckenButton.vue
  wls-gui-wahllokalsystem/src/composables/wahlvorstand/wahlvorstandService.ts
  wls-gui-wahllokalsystem/src/stores/wahlvorstandStore.ts
  wls-gui-wahllokalsystem/src/types/wahlvorstand/Wahlvorstand.ts
  wls-gui-wahllokalsystem/src/types/wahlvorstand/Wahlvorstandsmitglied.ts
  wls-gui-wahllokalsystem/src/views/WahlvorstandAnwesenheitView.vue
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/TheNachbesetzungDruckenButton.spec.ts
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/TheWahlvorstandMitgliederTable.spec.ts
  wls-gui-wahllokalsystem/tests/composables/wahlvorstand/wahlvorstandservice.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlvorstandStore.spec.ts
  wls-gui-wahllokalsystem/tests/utils/common/CommonTestDataFactory.ts
  wls-gui-wahllokalsystem/tests/utils/wahlvorstand/WahlvorstandTestDataFactory.ts
Labels: wls-gui-wahllokalsystem

#1335 Release backend services sprint 24
  wls-auth-service/pom.xml
  wls-wahlvorbereitung-service/pom.xml
  wls-wahlvorstand-service/pom.xml
Labels: service-wahlvorstand, service-wahlvorbereitung, service-auth

#1303 1071 bwbs nur die erfassung von vorkommnissen erlauben
  wls-gui-wahllokalsystem/src/components/vorfaelleundvorkommnisse/TheEreignisseNoEventsCheckboxes.vue
  wls-gui-wahllokalsystem/src/stores/ereignisStore.ts
  wls-gui-wahllokalsystem/src/stores/userStore.ts
  wls-gui-wahllokalsystem/src/types/User.ts
  wls-gui-wahllokalsystem/src/types/vorfaelleundvorkommnisse/Ereignisart.ts
  wls-gui-wahllokalsystem/src/views/EreignisseView.vue
  wls-gui-wahllokalsystem/tests/components/common/icons/BaseIconWahlbezirksart.spec.ts
  wls-gui-wahllokalsystem/tests/components/common/icons/__snapshots__/BaseIconWahlbezirksart.vue/visual logic/should_displayNoIcon_when_storeVariableIsUndefined.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/TheEreignisseNoEventsCheckboxes.spec.ts
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/databinding/should_renderCheckboxesSelected_when_keineEreignisseFlagsInStoreAreTrueForUWB.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/databinding/should_renderCheckboxesUnselected_when_keineEreignisseFlagsInStoreAreFalseForUWB.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorfaelle/should_renderKeineVorfaelleDisabled_when_vorfaelleAreGivenInStoreForUWB.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorfaelle/should_renderKeineVorfaelleEnabled_when_noVorfaelleAreGivenInStoreForUWB.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorkommnisse/should_renderKeineVorkommnisseDisabled_when_noVorkommnisseAreGivenInStoreButSchliessungsuhrzeitIsNotSetForUWB.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorkommnisse/should_renderKeineVorkommnisseDisabled_when_vorkommnisseAreGivenInStoreForUWB.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorkommnisse/should_renderKeineVorkommnisseEnabled_when_noVorkommnisseAreGivenInStoreAndSchliessungsuhrzeitIsNotSetForBWB.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorkommnisse/should_renderKeineVorkommnisseEnabled_when_noVorkommnisseAreGivenInStoreAndSchliessunguhrzeitIsSetForUWB.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/TheNachbesetzungDruckenButton.spec.ts
  wls-gui-wahllokalsystem/tests/composables/user/userMapper.spec.ts
  wls-gui-wahllokalsystem/tests/stores/ereignisStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/monitoringStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/userStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlvorstandStore.spec.ts
  wls-gui-wahllokalsystem/tests/types/vorfaelleundvorkommnisse/Ereignisart.spec.ts
  wls-gui-wahllokalsystem/tests/utils/user/UserTestDataFactory.ts
  wls-gui-wahllokalsystem/tests/views/EreignisseView.spec.ts
Labels: wls-gui-wahllokalsystem

#1334 1043 wls wahlvorstand service enable und implement tests
  wls-wahlvorstand-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/domain/BaseEntity.java
  wls-wahlvorstand-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/domain/TheEntity.java
  wls-wahlvorstand-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/rest/TheEntityRepository.java
  wls-wahlvorstand-service/src/main/resources/db/migrations/h2/V2_0__dropTableTheEntity.sql
  wls-wahlvorstand-service/src/main/resources/db/migrations/oracle/V2_0__dropTableTheEntity.sql
  wls-wahlvorstand-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/configuration/UnicodeConfigurationTest.java
  wls-wahlvorstand-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/rest/TheEntityRepositoryTest.java
Labels: service-wahlvorstand

#1332 1325 Gibt es eine ESLint-Rule zu Selfclosingtags
  wls-gui-admintool/eslint.config.js
  wls-gui-wahllokalsystem/eslint.config.js
Labels: wls-gui-wahllokalsystem, wls-gui-admin

#1342 fix: set forceUpdate true
  wls-gui-wahllokalsystem/src/stores/wahlvorstandStore.ts
  wls-gui-wahllokalsystem/tests/stores/wahlvorstandStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1337 erweiterung um admin-old data and clint
  wls-auth-service/src/main/resources/db/dummydata/h2/V16_0__insertOldDummyAdminClint.sql
  wls-auth-service/src/main/resources/db/dummydata/h2/V16_1__insertAdminAuthority.sql
  wls-auth-service/src/main/resources/db/dummydata/oracle/V16_0__insertOldDummyAdminClint.sql
  wls-auth-service/src/main/resources/db/dummydata/oracle/V16_1__insertAdminAuthority.sql
Labels: service-auth

#1330 1037 - Beziehung zu den Workflows von Github sind festgehalten
  docs/.vitepress/config.mts
  docs/src/technik/ecosystem/workflowsAndArtifacts/index.md
  docs/src/technik/ecosystem/workflowsAndArtifacts/relations.md
  docs/src/technik/guides/new-microservice/index.md
Labels: documentation
