Repository it-at-m/Wahllokalsystem, pull requests merged in 2025-01, with the labels that each got.

#681 #664 :recycle: redesign api calls to composable
  wls-gui-wahllokalsystem/src/composables/wlsClients/broadcastService/useBroadcastService.ts
  wls-gui-wahllokalsystem/src/views/ExampleBackendCommunicationView.vue
Labels: service-gui-wls

#719 535 release für wls common bauen - 1.2.0
  wls-common/exception/pom.xml
  wls-common/monitoring/pom.xml
  wls-common/pom.xml
  wls-common/security/pom.xml
  wls-common/testing/pom.xml
Labels: wls-common

#702 568 exemplarische tests
  docs/src/technik/naming_conventions/testing.md
  wls-gui-wahllokalsystem/src/views/ExampleBackendCommunicationView.vue
  wls-gui-wahllokalsystem/tests/component/ExampleBackendCommunicationView.spec.ts
  wls-gui-wahllokalsystem/tests/unit/example.spec.ts
  wls-gui-wahllokalsystem/tests/unit/fetch-utils.spec.ts
  wls-gui-wahllokalsystem/tsconfig.app.json
  wls-gui-wahllokalsystem/tsconfig.vitest.json
Labels: service-gui-wls

#749 Release authservice 0.2.0
  wls-auth-service/pom.xml
Labels: service-auth

#750 739 doku für den wahlvorbereitung service fehlt
  docs/.vitepress/config.mts
  docs/src/services/wahlvorbereitungs-service/index.md
  docs/src/technik/get_started/index.md
Labels: documentation

#751 Fix Typos bei Begründung in Ergebnismeldungservice
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/exception/ExceptionConstants.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/begruendung/BegruendungService.java
Labels: service-ergebnismeldung

#758 756 instabile tests bei authservice
  wls-auth-service/src/test/java/de/muenchen/oss/wahllokalsystem/authservice/rest/UserControllerIntegrationTest.java
  wls-auth-service/src/test/java/de/muenchen/oss/wahllokalsystem/authservice/rest/WahllokalBenutzerControllerIntegrationTest.java
Labels: bug, service-auth

#731 716 generierung der service schnittstellen für das frontend
  .gitignore
  docs/.vitepress/config.mts
  docs/src/public/error_install_openapi-generator.png
  docs/src/technik/guides/api-client-generation/generate-client-from-openapi-json-frontend.md
  docs/src/technik/guides/api-client-generation/how-to-create-client-from-open-api-json.md
  docs/src/technik/guides/api-client-generation/index.md
  wls-gui-wahllokalsystem/.prettierignore
  wls-gui-wahllokalsystem/eslint.config.js
  wls-gui-wahllokalsystem/openapitools.json
  wls-gui-wahllokalsystem/package.json
  wls-gui-wahllokalsystem/src/api/WLSException.ts
  wls-gui-wahllokalsystem/src/api/fetch-utils.ts
  wls-gui-wahllokalsystem/src/api/health-client.ts
  wls-gui-wahllokalsystem/src/api/info-client.ts
  wls-gui-wahllokalsystem/src/api/user-client.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/broadcast-service/BroadcastMessageToRead.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/broadcast-service/BroadcastMessageToSend.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/broadcast-service/broadcast-client.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/custom-openapi-template-files/runtime.mustache
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/apis/BroadcastControllerApi.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/apis/index.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/index.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/models/BroadcastMessageDTO.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/models/MessageDTO.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/models/index.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/runtime.ts
  wls-gui-wahllokalsystem/src/composables/wlsClients/broadcastService/useBroadcastService.ts
  wls-gui-wahllokalsystem/src/constants.ts
  wls-gui-wahllokalsystem/src/resources/openapis/openapi.broadcast.0.2.0.json
  wls-gui-wahllokalsystem/tests/unit/fetch-utils.spec.ts
Labels: service-gui-wls

#777 737 begruendung review
  docs/src/services/ergebnismeldung-service/index.md
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/exception/ExceptionConstants.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/begruendung/BegruendungController.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/begruendung/BegruendungDTO.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/begruendung/BegruendungDTOMapper.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/common/BezirkUndWahlIDStapelartDTO.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/common/StapelartDTO.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/ergebnisse/ErgebnisseController.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/ergebnisse/ErgebnisseDTO.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/ergebnisse/ErgebnisseDTOMapper.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/begruendung/BegruendungModel.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/begruendung/BegruendungModelMapper.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/begruendung/BegruendungService.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/common/StapelartModel.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/ergebnisse/ErgebnisseModel.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/configuration/SecurityConfigurationTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/begruendung/BegruendungControllerIntegrationTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/begruendung/BegruendungControllerTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/begruendung/BegruendungDTOMapperTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/ergebnisse/ErgebnisseControllerIntegrationTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/ergebnisse/ErgebnisseControllerTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/ergebnisse/ErgebnisseDTOMapperTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/begruendung/BegruendungModelMapperTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/begruendung/BegruendungServiceSecurityTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/begruendung/BegruendungServiceTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/begruendung/BegruendungValidatorTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/ergebnisse/ErgebnisseModelMapperTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/ergebnisse/ErgebnisseServiceSecurityTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/ergebnisse/ErgebnisseValidatorTest.java
Labels: service-ergebnismeldung
