Repository it-at-m/Wahllokalsystem, pull requests merged in 2025-02, with the labels that each got.

#778 742 in doku das anlegen eines frontend projekt beschreiben
  docs/.vitepress/config.mts
  docs/src/technik/guides/new-microservice/index.md
  docs/src/technik/guides/new-microservice/new-service-backend.md
  docs/src/technik/guides/new-microservice/new-service-frontend.md
Labels: documentation

#763 716 2 openapi generation: replace fetch with axios
  .gitignore
  docs/src/technik/guides/api-client-generation/generate-client-from-openapi-json-frontend.md
  wls-gui-wahllokalsystem/package-lock.json
  wls-gui-wahllokalsystem/package.json
  wls-gui-wahllokalsystem/src/api/wls-clients/custom-openapi-template-files/runtime.mustache
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/api.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/apis/BroadcastControllerApi.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/apis/index.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/base.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/common.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/configuration.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/index.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/models/BroadcastMessageDTO.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/models/MessageDTO.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/models/index.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-broadcast-api/runtime.ts
  wls-gui-wahllokalsystem/src/composables/wlsClients/broadcastService/useBroadcastService.ts
Labels: discussion, service-gui-wls

#836 Release Wahlvorstand Service in Version 0.2.0
  wls-wahlvorstand-service/pom.xml
Labels: service-wahlvorstand

#839 add naming rule for before and after each methods
  wls-common/testing/src/main/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/rule/MethodRules.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/rule/MethodRulesTest.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/NamingConventionExamplesTest.java
Labels: wls-common

#842 768 einhaltung der sichtbarkeit von testmethoden
  wls-common/testing/src/main/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/rule/MethodRules.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/rule/MethodRulesTest.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/ModifiersExampleTest.java
Labels: wls-common

#852 #771, #772 add test for rules with allowEmpty true
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/rule/MethodRulesTest.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/NamingConventionExamplesTest.java
Labels: wls-common
