Repository it-at-m/Wahllokalsystem, pull requests merged in 2025-06, with the labels that each got.

#1359 :bug: fix 1312 wahlvorstand muss die wahlen vom basisdatenservice laden und nicht vom eai service
  wls-wahlvorstand-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/clients/DummyClientImpl.java
  wls-wahlvorstand-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/clients/basisdaten/WahlenClientImpl.java
  wls-wahlvorstand-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/clients/basisdaten/WahlenClientMapper.java
  wls-wahlvorstand-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/service/wahlvorstand/KonfigurierterWahltagModel.java
  wls-wahlvorstand-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/rest/wahlvorstand/WahlvorstandControllerIntegrationTest.java
  wls-wahlvorstand-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/utils/TestDataFactory.java
Labels: service-wahlvorstand

#1352 1338 fehlende mapper tests für wahlvorbereitung und wahlbeteiligung
  wls-gui-wahllokalsystem/tests/composables/monitoring/wahlbeteiligungMapper.spec.ts
  wls-gui-wahllokalsystem/tests/composables/wahlvorbereitung/wahlvorbereitungMapper.spec.ts
Labels: wls-gui-wahllokalsystem

#1366 942 komponente weitere informationen und unterstützung
  wls-gui-wahllokalsystem/.msw/public/mockServiceWorker.js
  wls-gui-wahllokalsystem/.prettierignore
  wls-gui-wahllokalsystem/.storybook/main.ts
  wls-gui-wahllokalsystem/.storybook/preview.ts
  wls-gui-wahllokalsystem/package-lock.json
  wls-gui-wahllokalsystem/package.json
  wls-gui-wahllokalsystem/src/components/basisdaten/BaseInfoHelpListItem.vue
  wls-gui-wahllokalsystem/src/components/basisdaten/BaseInfoHelpListItemContent.vue
  wls-gui-wahllokalsystem/src/components/basisdaten/TheInfoHelpIcon.vue
  wls-gui-wahllokalsystem/src/composables/basisdaten/handbuchService.ts
  wls-gui-wahllokalsystem/src/composables/basisdaten/helpIconCallbacks.ts
  wls-gui-wahllokalsystem/src/composables/basisdaten/testDruck.ts
  wls-gui-wahllokalsystem/src/constants.ts
  wls-gui-wahllokalsystem/src/plugins/vuetify.ts
  wls-gui-wahllokalsystem/stories/components/basisdaten/TheInfoHelpIcon.stories.ts
  wls-gui-wahllokalsystem/tests/components/basisdaten/BaseInfoHelpListItem.spec.ts
  wls-gui-wahllokalsystem/tests/components/basisdaten/BaseInfoHelpListItemContent.spec.ts
  wls-gui-wahllokalsystem/tests/components/basisdaten/TheInfoHelpIcon.spec.ts
  wls-gui-wahllokalsystem/tests/components/basisdaten/__snapshots__/BaseInfoHelpListItem.vue/visual logic/should_changeBgColorOnHover_when_itemHasCallback.html
  wls-gui-wahllokalsystem/tests/components/basisdaten/__snapshots__/BaseInfoHelpListItem.vue/visual logic/should_notChangeBgColorOnHover_when_itemHasNoCallback.html
  wls-gui-wahllokalsystem/tests/components/basisdaten/__snapshots__/BaseInfoHelpListItemContent.vue/visual logic/should_renderListItemContentWithMinimumRequiredProps_when_mountedWithTitleAndIconProp.html
  wls-gui-wahllokalsystem/tests/components/basisdaten/__snapshots__/BaseInfoHelpListItemContent.vue/visual logic/should_renderListItemWithAllProps_when_mountedWithTitleTextAndIconProp.html
  wls-gui-wahllokalsystem/tests/components/basisdaten/__snapshots__/TheInfoHelpIcon.vue/visual logic/should_renderIcon_when_mounted.html
  wls-gui-wahllokalsystem/tests/composables/basisdaten/handbuchService.spec.ts
Labels: wls-gui-wahllokalsystem

#1387 updated vutify version
  wls-gui-wahllokalsystem/package-lock.json
  wls-gui-wahllokalsystem/package.json
  wls-gui-wahllokalsystem/tests/components/basisdaten/__snapshots__/TheInfoHelpIcon.vue/visual logic/should_renderIcon_when_mounted.html
  wls-gui-wahllokalsystem/tests/components/broadcast/TheBroadcastReadConfirmationDialog.spec.ts
  wls-gui-wahllokalsystem/tests/components/broadcast/__snapshots__/TheBroadcastReadConfirmationDialog.vue/visual logic/should_renderDialogWithOkButtonEnabled_when_checkboxWasSelected.html
  wls-gui-wahllokalsystem/tests/components/broadcast/__snapshots__/TheBroadcastReadConfirmationDialog.vue/visual logic/should_renderDialog_when_broadcastMessageIsGiven.html
  wls-gui-wahllokalsystem/tests/components/common/inputs/__snapshots__/BaseNumberInput.vue/visual logic/should_renderErrorMessage_when_ruleMaxNumberIsViolated.html
  wls-gui-wahllokalsystem/tests/components/common/inputs/__snapshots__/BaseNumberInput.vue/visual logic/should_renderErrorMessage_when_ruleMinNumberIsViolated.html
  wls-gui-wahllokalsystem/tests/components/common/inputs/__snapshots__/BaseNumberInput.vue/visual logic/should_renderErrorMessage_when_ruleRequiredIsViolated.html
  wls-gui-wahllokalsystem/tests/components/common/inputs/__snapshots__/BaseNumberInput.vue/visual logic/should_renderNumberInput_when_inputIsTyped.html
  wls-gui-wahllokalsystem/tests/components/common/inputs/__snapshots__/BaseNumberInput.vue/visual logic/should_renderTextFieldWithCorrectLabel_when_componentIsMounted.html
  wls-gui-wahllokalsystem/tests/components/common/inputs/__snapshots__/BaseTimeInput.vue/visual logic/should_renderErrorMessage_when_ruleRequiredIsViolated.html
  wls-gui-wahllokalsystem/tests/components/common/inputs/__snapshots__/BaseTimeInput.vue/visual logic/should_renderTextFieldWithCorrectLabel_when_componentIsMounted.html
  wls-gui-wahllokalsystem/tests/components/common/inputs/__snapshots__/BaseTimeInput.vue/visual logic/should_renderTimeInput_when_inputIsTyped.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/TheEreignisseRow.spec.ts
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/databinding/should_renderCheckboxesSelected_when_keineEreignisseFlagsInStoreAreTrueForUWB.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/databinding/should_renderCheckboxesUnselected_when_keineEreignisseFlagsInStoreAreFalseForUWB.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorfaelle/should_renderKeineVorfaelleDisabled_when_vorfaelleAreGivenInStoreForUWB.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorfaelle/should_renderKeineVorfaelleEnabled_when_noVorfaelleAreGivenInStoreForUWB.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorkommnisse/should_renderKeineVorkommnisseDisabled_when_noVorkommnisseAreGivenInStoreButSchliessungsuhrzeitIsNotSetForUWB.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorkommnisse/should_renderKeineVorkommnisseDisabled_when_vorkommnisseAreGivenInStoreForUWB.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorkommnisse/should_renderKeineVorkommnisseEnabled_when_noVorkommnisseAreGivenInStoreAndSchliessungsuhrzeitIsNotSetForBWB.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorkommnisse/should_renderKeineVorkommnisseEnabled_when_noVorkommnisseAreGivenInStoreAndSchliessunguhrzeitIsSetForUWB.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseRow.vue/visual logic/should_showMultipleRows_when_multipleEreignisseAreGiven.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseRow.vue/visual logic/should_showOneRow_when_oneEreignisIsGiven.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWahleroeffnungCard.vue/visual logic/should_renderWithDisabledSaveButton_when_noUhrzeitIsEntered.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWahleroeffnungCard.vue/visual logic/should_renderWithEnabledSaveButton_when_uhrzeitIsGiven.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWahleroeffnungCard.vue/visual logic/should_renderWithSaveButtonInLoadingState_when_isSavingIsTrue.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandMitgliederTable.vue/visual logic/should_showMultipleLines_when_multipleWahlvorstandsmitgliederAreGiven.html
Labels: wls-gui-wahllokalsystem

#1399 1121 laden des wahlvorstandes beim start der anwendung
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/composables/tasks/taskListService.ts
  wls-gui-wahllokalsystem/src/composables/wahlvorstand/wahlvorstandService.ts
  wls-gui-wahllokalsystem/src/stores/wahlvorstandStore.ts
  wls-gui-wahllokalsystem/tests/composables/wahlvorstand/wahlvorstandservice.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlvorstandStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1402 anzeige gespeicherte schliessungsuhrzeit und loading state
  wls-gui-wahllokalsystem/src/components/vorfaelleundvorkommnisse/TheEreignisseNoEventsCheckboxes.vue
  wls-gui-wahllokalsystem/src/components/wahlvorbereitung/BaseWahlschliessungCard.vue
  wls-gui-wahllokalsystem/src/stores/ereignisStore.ts
  wls-gui-wahllokalsystem/src/stores/wahlbezirkStore.ts
  wls-gui-wahllokalsystem/src/stores/wahlvorstandStore.ts
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/TheEreignisseNoEventsCheckboxes.spec.ts
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/BaseWahlschliessungCard.spec.ts
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWahlschliessungCard.vue/visual logic/should_renderWithDisabledSaveButton_when_noUhrzeitIsEntered.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWahlschliessungCard.vue/visual logic/should_renderWithEnabledSaveButton_when_uhrzeitIsGiven.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWahlschliessungCard.vue/visual logic/should_renderWithSaveButtonInLoadingState_when_isSavingIsTrue.html
  wls-gui-wahllokalsystem/tests/stores/ereignisStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlbezirkStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlvorstandStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1400 fix wahlvorstands `sendNotification` + `forceUpdate` flags usage
  wls-gui-wahllokalsystem/src/components/wahlvorstand/TheNachbesetzungDruckenButton.vue
  wls-gui-wahllokalsystem/src/stores/wahlvorstandStore.ts
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/TheNachbesetzungDruckenButton.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlvorstandStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1404 Sprint 25
  wls-admin-service/pom.xml
  wls-auth-service/pom.xml
  wls-basisdaten-service/pom.xml
  wls-briefwahl-service/pom.xml
  wls-broadcast-service/pom.xml
  wls-eai-service/pom.xml
  wls-ergebnismeldung-service/pom.xml
  wls-infomanagement-service/pom.xml
  wls-monitoring-service/pom.xml
  wls-vorfaelleundvorkommnisse-service/pom.xml
  wls-wahlvorbereitung-service/pom.xml
  wls-wahlvorstand-service/pom.xml
Labels: service-broadcast, service-briefwahl, service-ergebnismeldung, service-wahlvorstand, service-admin, service-wahlvorbereitung, service-monitoring, service-infomanagement, service-basisdaten, service-vorfaelleundvorkommnisse, service-auth, service-eai

#1429 1398 fix bug routeguard greift nicht
  wls-gui-wahllokalsystem/src/stores/taskManagerStore.ts
  wls-gui-wahllokalsystem/src/stores/wahlenStore.ts
  wls-gui-wahllokalsystem/src/stores/wahlvorstandStore.ts
  wls-gui-wahllokalsystem/tests/stores/wahlenStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlvorstandStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1431 1374 bug json parse error beim posten des wahlvorstand
  docs/src/technik/guides/api-client-generation/how-to-create-client-from-open-api-json.md
  wls-ergebnismeldung-service/pom.xml
  wls-monitoring-service/pom.xml
  wls-monitoring-service/src/main/java/de/muenchen/oss/wahllokalsystem/monitoringservice/client/common/TimeStampMapper.java
  wls-monitoring-service/src/main/java/de/muenchen/oss/wahllokalsystem/monitoringservice/client/wahllokalzustand/WahllokalZustandClientImpl.java
  wls-monitoring-service/src/test/java/de/muenchen/oss/wahllokalsystem/monitoringservice/client/waehleranzahl/WaehleranzahlClientImplTest.java
  wls-monitoring-service/src/test/java/de/muenchen/oss/wahllokalsystem/monitoringservice/client/waehleranzahl/WaehleranzahlClientMapperTest.java
  wls-monitoring-service/src/test/java/de/muenchen/oss/wahllokalsystem/monitoringservice/client/wahllokalzustand/WahllokalZustandClientImplTest.java
  wls-monitoring-service/src/test/java/de/muenchen/oss/wahllokalsystem/monitoringservice/rest/wahllokalzustand/WahllokalZustandControllerIntegrationTest.java
  wls-monitoring-service/src/test/java/de/muenchen/oss/wahllokalsystem/monitoringservice/service/wahllokalzustand/WahllokalZustandServiceSecurityTest.java
  wls-wahlvorstand-service/pom.xml
  wls-wahlvorstand-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/rest/wahlvorstand/WahlvorstandControllerIntegrationTest.java
  wls-wahlvorstand-service/src/test/resources/http.request/wahlvorstand.http
Labels: documentation, service-ergebnismeldung, service-wahlvorstand, service-monitoring

#1438 Fix Datenconstraints im Basisdatenservice
  wls-admin-service/src/test/resources/wahlen.http
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/clients/WahlenClientMapper.java
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/domain/wahlen/Wahl.java
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/rest/wahlen/WahlDTO.java
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/service/wahlen/WahlModel.java
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/service/wahlen/WahlenService.java
  wls-basisdaten-service/src/main/resources/db/migrations/h2/V10_0__dropNotNullOnWahlNummer.sql
  wls-basisdaten-service/src/main/resources/db/migrations/h2/V10_1__addNotNullOnWahlFarbeValues.sql
  wls-basisdaten-service/src/main/resources/db/migrations/oracle/V10_0__dropNotNullOnWahlNummer.sql
  wls-basisdaten-service/src/main/resources/db/migrations/oracle/V10_1__addNotNullOnWahlFarbeValues.sql
  wls-basisdaten-service/src/test/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/clients/WahldatenClientMapperTest.java
  wls-basisdaten-service/src/test/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/domain/wahlen/WahlRepositoryTest.java
  wls-basisdaten-service/src/test/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/rest/wahlen/WahlenControllerIntegrationTest.java
  wls-basisdaten-service/src/test/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/rest/wahltermindaten/WahltermindatenControllerIntegrationTest.java
  wls-basisdaten-service/src/test/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/service/wahlen/WahlenServiceSecurityTest.java
  wls-basisdaten-service/src/test/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/service/wahlen/WahlenServiceTest.java
  wls-basisdaten-service/src/test/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/utils/MockDataFactory.java
  wls-basisdaten-service/src/test/resources/wahlen.http
Labels: service-admin, service-basisdaten

#1440 Tests for EreignisMapper and WahlvorstandMapper
  wls-gui-wahllokalsystem/tests/composables/vorfaelleundvorkommnisse/ereignisMapper.spec.ts
  wls-gui-wahllokalsystem/tests/composables/wahlvorstand/wahlvorstandMapper.spec.ts
  wls-gui-wahllokalsystem/tests/stores/ereignisStore.spec.ts
  wls-gui-wahllokalsystem/tests/utils/vorfaelleundvorkommnisse/VorfaelleundvorkommnisseTestDataFactory.ts
  wls-gui-wahllokalsystem/tests/utils/vorfaelleundvorkommnisse/VorfaelleundvorkommnisseTestDateFactory.ts
  wls-gui-wahllokalsystem/tests/utils/wahlvorstand/WahlvorstandTestDataFactory.ts
Labels: wls-gui-wahllokalsystem

#1456 1304 auth service liefert daten die nicht der api entsprechen
  wls-admin-service/pom.xml
  wls-admin-service/src/main/resources/openapis/openapi.auth.0.1.0.json
  wls-admin-service/src/main/resources/openapis/openapi.auth.0.6.2.json
  wls-auth-service/src/main/java/de/muenchen/oss/wahllokalsystem/authservice/rest/UserDTO.java
  wls-auth-service/src/main/java/de/muenchen/oss/wahllokalsystem/authservice/service/UserModel.java
  wls-auth-service/src/main/resources/db/dummydata/h2/R__setUserDataForWlsAllUsers.sql
  wls-auth-service/src/main/resources/db/dummydata/oracle/R__setUserDataForWlsAllUsers.sql
  wls-gui-admintool/package.json
  wls-gui-admintool/src/api/wls-clients/generated-auth-api/api.ts
  wls-gui-admintool/src/api/wls-clients/generated-auth-api/base.ts
  wls-gui-admintool/src/api/wls-clients/generated-auth-api/common.ts
  wls-gui-admintool/src/api/wls-clients/generated-auth-api/configuration.ts
  wls-gui-admintool/src/api/wls-clients/generated-auth-api/index.ts
  wls-gui-admintool/src/resources/openapis/openapi.auth.0.3.0.json
  wls-gui-admintool/src/resources/openapis/openapi.auth.0.6.2.json
Labels: service-admin, service-auth, wls-gui-wahllokalsystem, wls-gui-admin

#1452 implement new task to load ungueltige Wahlscheine
  docs/src/technik/get_started/index.md
  wls-basisdaten-service/src/test/resources/attachements/ungueltigeWahlscheine.csv
  wls-basisdaten-service/src/test/resources/ungueltigeWahlscheine.http
  wls-gui-wahllokalsystem/src/composables/basisdaten/ungueltigeWahlscheineMapper.ts
  wls-gui-wahllokalsystem/src/composables/basisdaten/ungueltigeWahlscheineService.ts
  wls-gui-wahllokalsystem/src/composables/tasks/taskListService.ts
  wls-gui-wahllokalsystem/src/stores/wahlbezirkStore.ts
  wls-gui-wahllokalsystem/src/types/wahlbezirk/UngueltigerWahlschein.ts
  wls-gui-wahllokalsystem/tests/composables/basisdaten/ungueltigeWahlscheineMapper.spec.ts
  wls-gui-wahllokalsystem/tests/composables/basisdaten/ungueltigeWahlscheineService.spec.ts
  wls-gui-wahllokalsystem/tests/composables/tasks/taskListService.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlbezirkStore.spec.ts
  wls-gui-wahllokalsystem/tests/utils/wahlbezirk/WahlbezirkTestDataFactory.ts
Labels: documentation, service-basisdaten, wls-gui-wahllokalsystem

#1459 Default font without italic for wls-clock
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/components/wlsComponents/TheWlsAppBar.vue
  wls-gui-wahllokalsystem/src/components/wlsComponents/WlsClock.vue
Labels: wls-gui-wahllokalsystem

#1455 Add Begruendungsdialog
  wls-gui-wahllokalsystem/src/components/common/dialogs/BaseDialogBegruendung.vue
  wls-gui-wahllokalsystem/stories/components/common/dialogs/BaseDialogBegruendung.stories.ts
  wls-gui-wahllokalsystem/tests/components/common/dialogs/BaseDialogBegruendung.spec.ts
  wls-gui-wahllokalsystem/tests/components/common/dialogs/__snapshots__/BaseDialogBegruendung.vue/visual logic/should_showBaseDialogBegruendungWithDisabledSaveButton_when_begruendungIsSetAndNotValid.html
  wls-gui-wahllokalsystem/tests/components/common/dialogs/__snapshots__/BaseDialogBegruendung.vue/visual logic/should_showBaseDialogBegruendungWithDisabledSaveButton_when_mounted.html
  wls-gui-wahllokalsystem/tests/components/common/dialogs/__snapshots__/BaseDialogBegruendung.vue/visual logic/should_showBaseDialogBegruendungWithEnabledSaveButton_when_begruendungIsSetAndValid.html
Labels: wls-gui-wahllokalsystem

#1462 Global Config for Buttons and ActionButtons as elevated
  wls-gui-admintool/src/components/common/YesNoDialog.vue
  wls-gui-admintool/src/plugins/vuetify.ts
  wls-gui-admintool/tests/components/wahltag/__snapshots__/BaseDialogWahltagOverrideWahlterminConfirmation.vue/visual logic/should_hideDialog_when_hideWasCalledAfterShow.html
  wls-gui-admintool/tests/components/wahltag/__snapshots__/BaseDialogWahltagOverrideWahlterminConfirmation.vue/visual logic/should_renderDialog_when_showWasCalled.html
  wls-gui-admintool/tests/components/wahltag/__snapshots__/BaseDialogWahltagOverrideWahlterminConfirmation.vue/visual logic/should_renderValues_when_propertiesAreSet.html
  wls-gui-admintool/tests/components/wahltag/__snapshots__/BaseStepWahltagInit.vue/visual logic/wahlterminDatenExists is false/should_renderCreateButton_when_loadingIsFalse.html
  wls-gui-admintool/tests/components/wahltag/__snapshots__/BaseStepWahltagInit.vue/visual logic/wahlterminDatenExists is false/should_renderCreateButton_when_loadingIsTrue.html
  wls-gui-admintool/tests/components/wahltag/__snapshots__/BaseStepWahltagInit.vue/visual logic/wahlterminDatenExists is true/should_renderOverrideButton_when_deletingIsTrue.html
  wls-gui-admintool/tests/components/wahltag/__snapshots__/BaseStepWahltagInit.vue/visual logic/wahlterminDatenExists is true/should_renderOverrideButton_when_loadingIsFalse.html
  wls-gui-admintool/tests/components/wahltag/__snapshots__/BaseStepWahltagInit.vue/visual logic/wahlterminDatenExists is true/should_renderOverrideButton_when_loadingIsTrue.html
  wls-gui-wahllokalsystem/src/components/common/YesNoDialog.vue
  wls-gui-wahllokalsystem/src/components/common/dialogs/BaseDialog.vue
  wls-gui-wahllokalsystem/src/components/common/dialogs/BaseDialogBegruendung.vue
  wls-gui-wahllokalsystem/src/plugins/vuetify.ts
  wls-gui-wahllokalsystem/tests/components/broadcast/__snapshots__/TheBroadcastReadConfirmationDialog.vue/visual logic/should_renderDialogWithOkButtonEnabled_when_checkboxWasSelected.html
  wls-gui-wahllokalsystem/tests/components/broadcast/__snapshots__/TheBroadcastReadConfirmationDialog.vue/visual logic/should_renderDialog_when_broadcastMessageIsGiven.html
  wls-gui-wahllokalsystem/tests/components/common/dialogs/__snapshots__/BaseDialog.vue/visual logic/should_showBaseDialogWithConfirmAndCancelButton.html
  wls-gui-wahllokalsystem/tests/components/common/dialogs/__snapshots__/BaseDialog.vue/visual logic/should_showBaseDialogWithConfirmButton.html
  wls-gui-wahllokalsystem/tests/components/common/dialogs/__snapshots__/BaseDialogBegruendung.vue/visual logic/should_showBaseDialogBegruendungWithDisabledSaveButton_when_begruendungIsSetAndNotValid.html
  wls-gui-wahllokalsystem/tests/components/common/dialogs/__snapshots__/BaseDialogBegruendung.vue/visual logic/should_showBaseDialogBegruendungWithDisabledSaveButton_when_mounted.html
  wls-gui-wahllokalsystem/tests/components/common/dialogs/__snapshots__/BaseDialogBegruendung.vue/visual logic/should_showBaseDialogBegruendungWithEnabledSaveButton_when_begruendungIsSetAndValid.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWahleroeffnungCard.vue/visual logic/should_renderWithDisabledSaveButton_when_noUhrzeitIsEntered.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWahleroeffnungCard.vue/visual logic/should_renderWithEnabledSaveButton_when_uhrzeitIsGiven.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWahleroeffnungCard.vue/visual logic/should_renderWithSaveButtonInLoadingState_when_isSavingIsTrue.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWahlschliessungCard.vue/visual logic/should_renderWithDisabledSaveButton_when_noUhrzeitIsEntered.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWahlschliessungCard.vue/visual logic/should_renderWithEnabledSaveButton_when_uhrzeitIsGiven.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWahlschliessungCard.vue/visual logic/should_renderWithSaveButtonInLoadingState_when_isSavingIsTrue.html
Labels: wls-gui-wahllokalsystem, wls-gui-admin

#1464 1422 anpassung titel im navigationsmenü zu "wahlhandlung"
  wls-gui-wahllokalsystem/src/components/wlsComponents/TheWlsAppBar.vue
Labels: wls-gui-wahllokalsystem
