Repository it-at-m/Wahllokalsystem, pull requests merged in 2025-03, with the labels that each got.

#897 879 release wls common 1.3.0
  wls-common/exception/pom.xml
  wls-common/monitoring/pom.xml
  wls-common/pom.xml
  wls-common/security/pom.xml
  wls-common/testing/pom.xml
Labels: wls-common

#893 879 fehler beim laden von wahlvorstand
  wls-wahlvorstand-service/pom.xml
  wls-wahlvorstand-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/service/wahlvorstand/WahlvorstandService.java
  wls-wahlvorstand-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/rest/wahlvorstand/WahlvorstandControllerIntegrationTest.java
  wls-wahlvorstand-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/service/wahlvorstand/WahlvorstandServiceSecurityTest.java
Labels: service-wahlvorstand

#857 770 einhaltung der abhängigkeiten zu den datenmodellen
  wls-common/testing/pom.xml
  wls-common/testing/src/main/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/rule/ClassRules.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/rule/ClassRulesTest.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/rule/MethodRulesTest.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/correctFileNamingAndDependencies/domain/Example.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/correctFileNamingAndDependencies/domain/NotAnEntity.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/correctFileNamingAndDependencies/domain/ThisIsARepository.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/correctFileNamingAndDependencies/domain/ThisIsNotAnEntity.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/correctFileNamingAndDependencies/domain/subpackage/ExampleInSubPackage.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/correctFileNamingAndDependencies/rest/ExampleController.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/correctFileNamingAndDependencies/rest/ExampleDTO.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/correctFileNamingAndDependencies/rest/NotARecordSoEndingIsNotRelevant.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/correctFileNamingAndDependencies/rest/ThisIsAValidDTO.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/correctFileNamingAndDependencies/rest/subpackage/ExampleInSubpackageDTO.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/correctFileNamingAndDependencies/service/ExampleModel.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/correctFileNamingAndDependencies/service/ExampleService.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/correctFileNamingAndDependencies/service/NotARecordSoEndingIsNotRelevant.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/correctFileNamingAndDependencies/service/ThisIsAValidModel.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/correctFileNamingAndDependencies/service/subpackage/ExampleInSubpackageModel.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/incorrectFilenamingAndDependencies/domain/ExampleDTO.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/incorrectFilenamingAndDependencies/domain/ExampleEntity.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/incorrectFilenamingAndDependencies/domain/ExampleModel.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/incorrectFilenamingAndDependencies/domain/IncorrectDependencies.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/incorrectFilenamingAndDependencies/domain/subpackage/ExampleInSubpackageDTO.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/incorrectFilenamingAndDependencies/rest/DataModelClass.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/incorrectFilenamingAndDependencies/rest/ExampleDto.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/incorrectFilenamingAndDependencies/rest/ExampleRepository.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/incorrectFilenamingAndDependencies/rest/IncorrectDependenciesDTO.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/incorrectFilenamingAndDependencies/rest/subpackage/ExampleInSubpackage.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/incorrectFilenamingAndDependencies/service/DataModelClass.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/incorrectFilenamingAndDependencies/service/ExampleController.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/incorrectFilenamingAndDependencies/service/ExampleMODEL.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/incorrectFilenamingAndDependencies/service/IncorrectDependenciesModel.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/incorrectFilenamingAndDependencies/service/subpackage/ExampleInSubpackagemodel.java
Labels: wls-common

#880 851-wahlvorstand-api-bildet-nicht-die-anforderungen-des-datenmodells-ab
  wls-wahlvorstand-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/rest/wahlvorstand/WahlvorstandDTO.java
  wls-wahlvorstand-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/rest/wahlvorstand/WahlvorstandsmitgliedDTO.java
Labels: service-wahlvorstand

#901 Fix Label für PRs mit Ergebnismeldungsservice
  .github/labeler.yml
Labels: bug

#936 935 wahlbezirkid und wahlbezirkidmitwahlnummer fehlen für bezirkidpermissionevaluator in authentication
  wls-auth-service/src/main/java/de/muenchen/oss/wahllokalsystem/authservice/configuration/SecurityConfiguration.java
  wls-auth-service/src/main/java/de/muenchen/oss/wahllokalsystem/authservice/security/WlsUserTokenCustomizer.java
  wls-auth-service/src/test/java/de/muenchen/oss/wahllokalsystem/authservice/security/WlsUserTokenCustomizerTest.java
Labels: service-auth

#923 622-ergaenzen-der-apiresponses-annotation-auth-service
  wls-auth-service/pom.xml
  wls-auth-service/src/main/java/de/muenchen/oss/wahllokalsystem/authservice/MicroServiceApplication.java
  wls-auth-service/src/main/java/de/muenchen/oss/wahllokalsystem/authservice/rest/LoginController.java
  wls-auth-service/src/main/java/de/muenchen/oss/wahllokalsystem/authservice/rest/SessionController.java
  wls-auth-service/src/main/java/de/muenchen/oss/wahllokalsystem/authservice/rest/UserController.java
  wls-auth-service/src/main/java/de/muenchen/oss/wahllokalsystem/authservice/rest/WahllokalBenutzerController.java
Labels: service-auth

#922 622-ergaenzen-der-apiresponses-annotation-admin-service
  wls-admin-service/pom.xml
  wls-admin-service/src/main/java/de/muenchen/oss/wahllokalsystem/adminservice/MicroServiceApplication.java
  wls-admin-service/src/main/java/de/muenchen/oss/wahllokalsystem/adminservice/rest/konfigurierterwahltag/KonfigurierteWahltageController.java
  wls-admin-service/src/main/java/de/muenchen/oss/wahllokalsystem/adminservice/rest/wahlen/WahlenController.java
  wls-admin-service/src/main/java/de/muenchen/oss/wahllokalsystem/adminservice/rest/wahllokalbenutzer/WahllokalBenutzerController.java
  wls-admin-service/src/main/java/de/muenchen/oss/wahllokalsystem/adminservice/rest/wahltage/WahltageController.java
  wls-admin-service/src/main/java/de/muenchen/oss/wahllokalsystem/adminservice/rest/wahltermindaten/WahltermindatenController.java
Labels: service-admin

#945 Test naming convention wls common
  wls-common/exception/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/exception/archunit/ArchUnitTest.java
  wls-common/exception/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/exception/rest/model/DTOMapperTest.java
  wls-common/security/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/security/archunit/ArchUnitTest.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/SecurityUtilsTest.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/ArchUnitTest.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/condition/RequestMappingMethodParameterAnnotationConditionTest.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utilityClasses/ModifiersExampleTest.java
Labels: wls-common

#924 622-ergaenzen-der-apiresponses-annotation-basisdaten-service
  wls-basisdaten-service/pom.xml
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/MicroServiceApplication.java
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/rest/handbuch/HandbuchController.java
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/rest/kopfdaten/KopfdatenController.java
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/rest/referendumvorlagen/ReferendumvorlagenController.java
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/rest/ungueltigewahlscheine/UngueltigeWahlscheineController.java
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/rest/wahlbezirke/WahlbezirkeController.java
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/rest/wahlen/WahlenController.java
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/rest/wahltag/WahltageController.java
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/rest/wahltermindaten/WahltermindatenController.java
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/rest/wahlvorschlag/WahlvorschlaegeController.java
Labels: service-basisdaten

#929 622-ergaenzen-der-apiresponses-annotation-Infomanagement-service
  wls-infomanagement-service/pom.xml
  wls-infomanagement-service/src/main/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/MicroServiceApplication.java
  wls-infomanagement-service/src/main/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/rest/konfiguration/KonfigurationController.java
  wls-infomanagement-service/src/main/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/rest/wahltag/KonfigurierterWahltagController.java
Labels: service-infomanagement

#931 622-ergaenzen-der-apiresponses-annotation-monitoring-service
  wls-monitoring-service/pom.xml
  wls-monitoring-service/src/main/java/de/muenchen/oss/wahllokalsystem/monitoringservice/MicroServiceApplication.java
  wls-monitoring-service/src/main/java/de/muenchen/oss/wahllokalsystem/monitoringservice/rest/waehleranzahl/WaehleranzahlController.java
  wls-monitoring-service/src/main/java/de/muenchen/oss/wahllokalsystem/monitoringservice/rest/wahllokalzustand/WahllokalZustandController.java
Labels: service-monitoring

#927 622-ergaenzen-der-apiresponses-annotation-eai-service
  wls-eai-service/pom.xml
  wls-eai-service/src/main/java/de/muenchen/oss/wahllokalsystem/eaiservice/MicroServiceApplication.java
  wls-eai-service/src/main/java/de/muenchen/oss/wahllokalsystem/eaiservice/configuration/SwaggerConfiguration.java
  wls-eai-service/src/main/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/wahlbeteiligung/WahlbeteiligungController.java
  wls-eai-service/src/main/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/wahldaten/WahldatenController.java
  wls-eai-service/src/main/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/wahlergebnis/WahlergebnisController.java
  wls-eai-service/src/main/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/wahllokalzustand/WahllokalzustandController.java
  wls-eai-service/src/main/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/wahlvorschlag/WahlvorschlagController.java
  wls-eai-service/src/main/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/wahlvorstand/WahlvorstandController.java
Labels: service-eai

#934 902 authservice hat keine clientimplementierung für wahltagclient
  docs/src/technik/systemspecification/security.md
  stack/.env
  stack/docker-compose_latest-dev.yml
  stack/run_configurations/AuthService - local,db-oracle,dummy.ldap,db-dummydata.run.xml
  wls-auth-service/src/main/java/de/muenchen/oss/wahllokalsystem/authservice/client/InfomanagementServiceClient.java
  wls-auth-service/src/main/java/de/muenchen/oss/wahllokalsystem/authservice/configuration/LdapConfiguration.java
  wls-auth-service/src/main/java/de/muenchen/oss/wahllokalsystem/authservice/configuration/Profiles.java
  wls-auth-service/src/main/resources/application.yml
  wls-auth-service/src/test/java/de/muenchen/oss/wahllokalsystem/authservice/MicroServiceApplicationIntegratedIntegrationTest.java
  wls-auth-service/src/test/java/de/muenchen/oss/wahllokalsystem/authservice/client/InfomanagementServiceClientTest.java
Labels: documentation, service-auth

#946 Dokumentation des Broadcast-Services in vitepress
  docs/.vitepress/config.mts
  docs/src/services/backend-services/broadcast-service/index.md
  docs/src/technik/get_started/index.md
Labels: documentation

#962 add kubernetes host to allowed hosts for vite
  wls-gui-wahllokalsystem/vite.config.ts
Labels: service-gui-wls

#926 622-ergaenzen-der-apiresponses-annotation-broadcast-service
  wls-broadcast-service/pom.xml
  wls-broadcast-service/src/main/java/de/muenchen/oss/wahllokalsystem/broadcastservice/MicroServiceApplication.java
  wls-broadcast-service/src/main/java/de/muenchen/oss/wahllokalsystem/broadcastservice/rest/BroadcastController.java
Labels: service-broadcast

#928 622-ergaenzen-der-apiresponses-annotation-ergebnismeldung-service
  wls-ergebnismeldung-service/pom.xml
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/MicroServiceApplication.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/ausdruck/AusdruckController.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/awerte/AWerteController.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/awerte/AsyncProgressController.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/begruendung/BegruendungController.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/ergebnismeldung/ErgebnismeldungController.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/ergebnisse/ErgebnisseController.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/status/StatusController.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/stimmabgabevermerke/StimmabgabevermerkeController.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/stimmzettelumschlaege/StimmzettelumschlaegeController.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/wahlscheine/WahlscheineController.java
Labels: service-ergebnismeldung

#932 622-ergaenzen-der-apiresponses-annotation-wahlvorbereitung-service
  wls-wahlvorbereitung-service/pom.xml
  wls-wahlvorbereitung-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/MicroServiceApplication.java
  wls-wahlvorbereitung-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/briefwahlvorbereitung/BriefwahlvorbereitungController.java
  wls-wahlvorbereitung-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/eroeffnungsuhrzeit/EroeffnungsUhrzeitController.java
  wls-wahlvorbereitung-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/fortsetzungsuhrzeit/FortsetzungsUhrzeitController.java
  wls-wahlvorbereitung-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/unterbrechungsuhrzeit/UnterbrechungsUhrzeitController.java
  wls-wahlvorbereitung-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/urnenwahlschliessungsuhrzeit/UrnenwahlSchliessungsUhrzeitController.java
  wls-wahlvorbereitung-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/urnenwahlvorbereitung/UrnenwahlvorbereitungController.java
  wls-wahlvorbereitung-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/waehlerverzeichnis/WaehlerverzeichnisController.java
Labels: service-wahlvorbereitung

#930 622 ergaenzen der apiresponses annotation vorfaelleundvorkomnisse service
  wls-vorfaelleundvorkommnisse-service/pom.xml
  wls-vorfaelleundvorkommnisse-service/src/main/java/de/muenchen/oss/wahllokalsystem/vorfaelleundvorkommnisseservice/MicroServiceApplication.java
  wls-vorfaelleundvorkommnisse-service/src/main/java/de/muenchen/oss/wahllokalsystem/vorfaelleundvorkommnisseservice/rest/ereignis/EreignisController.java
Labels: service-vorfaelleundvorkommnisse

#948 UnicodeConfigurationTest implemented
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/configuration/UnicodeConfigurationTest.java
Labels: service-ergebnismeldung

#951 768-einhaltung-der-sichtbarkeit-von-testmethoden-in-services
  wls-admin-service/src/test/java/de/muenchen/oss/wahllokalsystem/adminservice/archunit/ArchUnitTest.java
  wls-auth-service/src/test/java/de/muenchen/oss/wahllokalsystem/authservice/archunit/ArchUnitTest.java
  wls-auth-service/src/test/java/de/muenchen/oss/wahllokalsystem/authservice/rest/session/SessionCreationTest.java
  wls-basisdaten-service/src/test/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/archunit/ArchUnitTest.java
  wls-basisdaten-service/src/test/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/domain/KopfdatenRepositoryTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/archunit/ArchUnitTest.java
  wls-broadcast-service/src/test/java/de/muenchen/oss/wahllokalsystem/broadcastservice/archunit/ArchUnitTest.java
  wls-common/exception/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/exception/archunit/ArchUnitTest.java
  wls-common/security/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/security/archunit/ArchUnitTest.java
  wls-common/swagger/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/swagger/ArchUnitTest.java
  wls-common/swagger/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/swagger/SwaggerDefaultConfigurationTest.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/ArchUnitTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/archunit/ArchUnitTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/archunit/ArchUnitTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/domain/ergebnisse/ErgebnisseRepositoryTest.java
  wls-infomanagement-service/src/test/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/archunit/ArchUnitTest.java
  wls-monitoring-service/src/test/java/de/muenchen/oss/wahllokalsystem/monitoringservice/archunit/ArchUnitTest.java
  wls-vorfaelleundvorkommnisse-service/src/test/java/de/muenchen/oss/wahllokalsystem/vorfaelleundvorkommnisseservice/archunit/ArchUnitTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/archunit/ArchUnitTest.java
  wls-wahlvorstand-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/archunit/ArchUnitTest.java
Labels: service-broadcast, service-briefwahl, service-ergebnismeldung, service-wahlvorstand, service-admin, service-wahlvorbereitung, service-monitoring, service-infomanagement, service-basisdaten, service-vorfaelleundvorkommnisse, service-auth, service-eai, wls-common

#993 992 - Verwendung Standardports für Zugriff auf andere Services
  wls-auth-service/src/main/resources/application.yml
  wls-basisdaten-service/src/main/resources/application.yml
  wls-monitoring-service/src/main/resources/application.yml
  wls-wahlvorstand-service/src/main/resources/application.yml
Labels: service-wahlvorstand, service-monitoring, service-basisdaten, service-auth

#986 432 test naming convention für eai service
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/MicroServiceApplicationDummyDataIntegrationTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/archunit/ArchUnitTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/configuration/CacheControlConfigurationTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/configuration/SecurityConfigurationTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/configuration/SwaggerConfigurationTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/configuration/UnicodeConfigurationTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/configuration/UserInfoAuthoritiesServiceTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/configuration/nfcconverter/NfcConverterTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/configuration/nfcconverter/NfcHelperTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/domain/wahldaten/StimmzettelgebietRepositoryTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/domain/wahldaten/WahlRepositoryTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/domain/wahldaten/WahlbezirkRepositoryTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/domain/wahldaten/WahltageRepositoryTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/exception/GlobalExceptionHandlerTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/TheEntityRepositoryTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/ergebnismeldung/ErgebnismeldungControllerIntegrationTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/ergebnismeldung/ErgebnismeldungControllerTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/wahlbeteiligung/WahlbeteiligungControllerIntegrationTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/wahlbeteiligung/WahlbeteiligungControllerTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/wahldaten/WahldatenControllerIntegrationTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/wahldaten/WahldatenControllerTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/wahlvorschlag/WahlvorschlagControllerIntegrationTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/wahlvorschlag/WahlvorschlagControllerTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/wahlvorstand/WahlvorstandControllerIntegrationTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/wahlvorstand/WahlvorstandControllerTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/IDConverterTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/ergebnismeldung/ErgebnismeldungMapperTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/ergebnismeldung/ErgebnismeldungServiceSecurityTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/ergebnismeldung/ErgebnismeldungValidatorTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/wahlbeteiligung/WahlbeteiligungMapperTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/wahlbeteiligung/WahlbeteiligungSecurityTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/wahlbeteiligung/WahlbeteiligungServiceTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/wahlbeteiligung/WahlbeteiligungValidatorTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/wahldaten/WahldatenMapperTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/wahldaten/WahldatenServiceSecurityTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/wahldaten/WahldatenServiceTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/wahldaten/WahldatenValidatorTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/wahlvorschlag/WahlvorschlagMapperTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/wahlvorschlag/WahlvorschlagServiceSecurityTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/wahlvorschlag/WahlvorschlagServiceTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/wahlvorschlag/WahlvorschlagValidatorTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/wahlvorstand/WahlvorstandMapperTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/wahlvorstand/WahlvorstandServiceSecurityTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/wahlvorstand/WahlvorstandServiceTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/service/wahlvorstand/WahlvorstandValidatorTest.java
Labels: service-eai

#972 436 tests naming convention für wahlvorbereitungservice
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/archunit/ArchUnitTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/configuration/SecurityConfigurationTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/configuration/UserInfoAuthoritiesServiceTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/configuration/nfcconverter/NfcConverterTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/configuration/nfcconverter/NfcHelperTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/exception/ExceptionFactoryTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/briefwahlvorbereitung/BriefwahlvorbereitungControllerIntegrationTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/briefwahlvorbereitung/BriefwahlvorbereitungControllerTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/briefwahlvorbereitung/BriefwahlvorbereitungDTOMapperTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/common/WahlurneDTOMapperTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/eroeffnungsuhrzeit/EroeffnungsUhrzeitControllerIntegrationTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/eroeffnungsuhrzeit/EroeffnungsUhrzeitControllerTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/eroeffnungsuhrzeit/EroeffnungsUhrzeitDTOMapperTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/fortsetzungsuhrzeit/FortsetzungsUhrzeitControllerIntegrationTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/fortsetzungsuhrzeit/FortsetzungsUhrzeitControllerTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/fortsetzungsuhrzeit/FortsetzungsUhrzeitDTOMapperTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/unterbrechungsuhrzeit/UnterbrechungsUhrzeitControllerIntegrationTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/unterbrechungsuhrzeit/UnterbrechungsUhrzeitControllerTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/unterbrechungsuhrzeit/UnterbrechungsUhrzeitDTOMapperTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/urnenwahlschliessungsuhrzeit/UrnenwahlSchliessungsUhrzeitControllerIntegrationTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/urnenwahlschliessungsuhrzeit/UrnenwahlSchliessungsUhrzeitControllerTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/urnenwahlschliessungsuhrzeit/UrnenwahlSchliessungsUhrzeitDTOMapperTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/urnenwahlvorbereitung/UrnenwahlvorbereitungControllerIntegrationTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/urnenwahlvorbereitung/UrnenwahlvorbereitungControllerTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/urnenwahlvorbereitung/UrnenwahlvorbereitungDTOMapperTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/urnenwahlvorbereitung/UrnenwahlvorbereitungDTOTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/urnenwahlvorbereitung/UrnenwahlvorbereitungWriteDTOTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/waehlerverzeichnis/WaehlerverzeichnisControllerIntegrationTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/waehlerverzeichnis/WaehlerverzeichnisControllerTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/waehlerverzeichnis/WaehlerverzeichnisDTOMapperTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/briefwahlvorbereitung/BriefwahlvorbereitungModelMapperTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/briefwahlvorbereitung/BriefwahlvorbereitungSecurityTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/briefwahlvorbereitung/BriefwahlvorbereitungServiceTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/briefwahlvorbereitung/BriefwahlvorbereitungValidatorTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/common/WahlurneModelMapperTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/eroeffnungsuhrzeit/EroeffnungsUhrzeitModelMapperTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/eroeffnungsuhrzeit/EroeffnungsUhrzeitSecurityTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/eroeffnungsuhrzeit/EroeffnungsUhrzeitServiceTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/eroeffnungsuhrzeit/EroeffnungsUhrzeitValidatorTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/fortsetzungsuhrzeit/FortsetzungsUhrzeitModelMapperTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/fortsetzungsuhrzeit/FortsetzungsUhrzeitSecurityTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/fortsetzungsuhrzeit/FortsetzungsUhrzeitServiceTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/fortsetzungsuhrzeit/FortsetzungsUhrzeitValidatorTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/unterbrechungsuhrzeit/UnterbrechungsUhrzeitModelMapperTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/unterbrechungsuhrzeit/UnterbrechungsUhrzeitSecurityTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/unterbrechungsuhrzeit/UnterbrechungsUhrzeitServiceTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/unterbrechungsuhrzeit/UnterbrechungsUhrzeitValidatorTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/urnenwahlschliessungsuhrzeit/UrnenwahlSchliessungsUhrzeitModelMapperTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/urnenwahlschliessungsuhrzeit/UrnenwahlSchliessungsUhrzeitSecurityTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/urnenwahlschliessungsuhrzeit/UrnenwahlSchliessungsUhrzeitServiceTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/urnenwahlschliessungsuhrzeit/UrnenwahlSchliessungsUhrzeitValidatorTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/urnenwahlvorbereitung/UrnenwahlvorbereitungModelMapperTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/urnenwahlvorbereitung/UrnenwahlvorbereitungModelTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/urnenwahlvorbereitung/UrnenwahlvorbereitungSecurityTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/urnenwahlvorbereitung/UrnenwahlvorbereitungServiceTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/urnenwahlvorbereitung/UrnenwahlvorbereitungValidatorTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/waehlerverzeichnis/WaehlerverzeichnisModelMapperTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/waehlerverzeichnis/WaehlerverzeichnisServiceSecurityTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/waehlerverzeichnis/WaehlerverzeichnisServiceTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/waehlerverzeichnis/WaehlerverzeichnisValidatorTest.java
Labels: service-wahlvorbereitung

#991 835 wls common release mit prio 1 archunit regeln erstellen
  wls-common/exception/pom.xml
  wls-common/monitoring/pom.xml
  wls-common/pom.xml
  wls-common/security/pom.xml
  wls-common/swagger/pom.xml
  wls-common/testing/pom.xml
Labels: wls-common

#1013 Admin-Service - Einhaltung der Abhängigkeiten
  wls-admin-service/src/main/java/de/muenchen/oss/wahllokalsystem/adminservice/configuration/JwtUserInfoAuthenticationConverter.java
  wls-admin-service/src/main/java/de/muenchen/oss/wahllokalsystem/adminservice/configuration/SecurityConfiguration.java
  wls-admin-service/src/main/java/de/muenchen/oss/wahllokalsystem/adminservice/service/security/UserInfoAuthoritiesService.java
  wls-admin-service/src/test/java/de/muenchen/oss/wahllokalsystem/adminservice/archunit/ArchUnitTest.java
  wls-admin-service/src/test/java/de/muenchen/oss/wahllokalsystem/adminservice/configuration/UserInfoAuthoritiesServiceTest.java
Labels: service-admin

#975 430 tests naming convention für briefwahlservice
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/archunit/ArchUnitTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/configuration/SecurityConfigurationTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/configuration/SwaggerConfigurationTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/configuration/UnicodeConfigurationTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/configuration/UserInfoAuthoritiesServiceTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/configuration/nfcconverter/NfcConverterTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/configuration/nfcconverter/NfcHelperTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/domain/utils/ZurueckweisungsgrundConverterTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/rest/beanstandetewahlbriefe/BeanstandeteWahlbriefeControllerIntegrationTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/rest/beanstandetewahlbriefe/BeanstandeteWahlbriefeControllerTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/rest/beanstandetewahlbriefe/BeanstandeteWahlbriefeDTOMapperTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/rest/wahlbriefdaten/WahlbriefdatenControllerIntegrationTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/rest/wahlbriefdaten/WahlbriefdatenControllerTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/rest/wahlbriefdaten/WahlbriefdatenDTOMapperTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/service/beanstandetewahlbriefe/BeanstandeteWahlbriefeModelMapperTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/service/beanstandetewahlbriefe/BeanstandeteWahlbriefeSecurityTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/service/beanstandetewahlbriefe/BeanstandeteWahlbriefeServiceTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/service/beanstandetewahlbriefe/BeanstandeteWahlbriefeValidatorTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/service/wahlbriefdaten/WahlbriefdatenModelMapperTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/service/wahlbriefdaten/WahlbriefdatenSecurityTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/service/wahlbriefdaten/WahlbriefdatenServiceTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/service/wahlbriefdaten/WahlbriefdatenValidatorTest.java
Labels: service-briefwahl

#1015 Bug fix archunit rules for nested testsuites
  wls-common/testing/src/main/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/condition/NestedTestsuitesHaveMatchingMethodCondition.java
  wls-common/testing/src/main/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/condition/TestClassesEndWithTestCondition.java
  wls-common/testing/src/main/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/predicate/HasAtLeastOneMethodWithAnnotationPredicate.java
  wls-common/testing/src/main/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/rule/ClassRules.java
  wls-common/testing/src/main/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/rule/MethodRules.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/rule/ClassRulesTest.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/rule/MethodRulesTest.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utils/correctFileNamingAndDependencies/service/ExampleService.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utils/correctFileNamingAndDependencies/service/ExampleServiceTest.java
  wls-common/testing/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/testing/archunit/utils/correctFileNamingAndDependencies/test/ThisIsATest.java
Labels: wls-common

#1029 refactored instant.now() to one variable
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/domain/ausdruck/AusdruckRepositoryTest.java
Labels: service-ergebnismeldung

#977 704 verwendung von authentication handler aus wls common
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/common/security/AnonymousHandler.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/common/security/AuthenticationHandler.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/common/security/JWTHandler.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/authentication/AuthenticationService.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/authentication/AuthenticationServiceTest.java
  wls-infomanagement-service/pom.xml
  wls-infomanagement-service/src/main/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/MicroServiceApplication.java
  wls-infomanagement-service/src/main/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/common/security/AnonymousHandler.java
  wls-infomanagement-service/src/main/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/common/security/AuthenticationHandler.java
  wls-infomanagement-service/src/main/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/common/security/JWTHandler.java
  wls-infomanagement-service/src/main/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/service/konfiguration/KonfigurationService.java
  wls-infomanagement-service/src/test/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/MicroServiceApplicationDefaultProfileTest.java
  wls-infomanagement-service/src/test/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/MicroServiceApplicationNoSecurityProfileTest.java
  wls-infomanagement-service/src/test/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/common/security/JWTHandlerTest.java
  wls-infomanagement-service/src/test/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/service/konfiguration/KonfigurationServiceTest.java
  wls-wahlvorstand-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/security/AuthenticationHandler.java
  wls-wahlvorstand-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/service/wahlvorstand/WahlvorstandService.java
Labels: service-ergebnismeldung, service-wahlvorstand, service-infomanagement

#1028 updated deps
  docs/package-lock.json
  docs/package.json
  wls-gui-wahllokalsystem/package-lock.json
  wls-gui-wahllokalsystem/package.json
  wls-gui-wahllokalsystem/tests/utils/testutils.ts
Labels: documentation, wls-gui-wahllokalsystem

#1051 fix Security Issue wegen veralteter esbuild version
  wls-gui-wahllokalsystem/package-lock.json
  wls-gui-wahllokalsystem/package.json
Labels: wls-gui-wahllokalsystem

#1042 einhaltung der abhängigkeiten vorfälle service
  wls-vorfaelleundvorkommnisse-service/src/main/java/de/muenchen/oss/wahllokalsystem/vorfaelleundvorkommnisseservice/configuration/JwtUserInfoAuthenticationConverter.java
  wls-vorfaelleundvorkommnisse-service/src/main/java/de/muenchen/oss/wahllokalsystem/vorfaelleundvorkommnisseservice/configuration/SecurityConfiguration.java
  wls-vorfaelleundvorkommnisse-service/src/main/java/de/muenchen/oss/wahllokalsystem/vorfaelleundvorkommnisseservice/configuration/UserInfoAuthoritiesRetriever.java
  wls-vorfaelleundvorkommnisse-service/src/test/java/de/muenchen/oss/wahllokalsystem/vorfaelleundvorkommnisseservice/archunit/ArchUnitTest.java
  wls-vorfaelleundvorkommnisse-service/src/test/java/de/muenchen/oss/wahllokalsystem/vorfaelleundvorkommnisseservice/configuration/UserInfoAuthoritiesRetrieverTest.java
Labels: service-vorfaelleundvorkommnisse

#1057 915 ein store für benachrichtigungen an den user ist vorhanden
  wls-gui-wahllokalsystem/package-lock.json
  wls-gui-wahllokalsystem/package.json
  wls-gui-wahllokalsystem/src/stores/userNotificationStore.ts
  wls-gui-wahllokalsystem/src/types/userNotification/UserNotification.ts
  wls-gui-wahllokalsystem/src/types/userNotification/UserNotificationCategoryEnum.ts
  wls-gui-wahllokalsystem/tests/stores/userNotificationStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1067 wls-common - Hebung auf Spring Boot 3.4.3
  wls-common/exception/src/test/java/de/muenchen/oss/wahllokalsystem/wls/common/exception/rest/model/WlsExceptionDTOTest.java
  wls-common/pom.xml
Labels: wls-common

#1076 724 wlscommon release 1.6.0
  wls-common/exception/pom.xml
  wls-common/monitoring/pom.xml
  wls-common/pom.xml
  wls-common/security/pom.xml
  wls-common/swagger/pom.xml
  wls-common/testing/pom.xml
Labels: wls-common

#1062 PR: 1008 infomanagement-service einhaltung der abhängigkeiten
  wls-infomanagement-service/src/main/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/configuration/JwtUserInfoAuthenticationConverter.java
  wls-infomanagement-service/src/main/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/configuration/SecurityConfiguration.java
  wls-infomanagement-service/src/main/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/configuration/UserInfoAuthoritiesRetriever.java
  wls-infomanagement-service/src/test/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/archunit/ArchUnitTest.java
  wls-infomanagement-service/src/test/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/configuration/UserInfoAuthoritiesRetrieverTest.java
Labels: service-infomanagement

#1077 947-ändern-der-api-response-in-wls-common-swagger-von-englisch-auf-deutsch
  wls-common/swagger/src/main/java/de/muenchen/oss/wahllokalsystem/wls/common/swagger/SwaggerDefaultConfiguration.java
Labels: wls-common

#1079 724 wls common release 1.6.1
  wls-common/swagger/pom.xml
Labels: wls-common

#1080 724 hebung services auf spring boot 3.4.3
  wls-admin-service/pom.xml
  wls-admin-service/src/test/java/de/muenchen/oss/wahllokalsystem/adminservice/configuration/SecurityConfigurationTest.java
  wls-auth-service/pom.xml
  wls-auth-service/src/test/java/de/muenchen/oss/wahllokalsystem/authservice/rest/UserControllerIntegrationTest.java
  wls-basisdaten-service/pom.xml
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/domain/wahlvorschlag/Wahlvorschlaege.java
  wls-basisdaten-service/src/test/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/configuration/SecurityConfigurationTest.java
  wls-basisdaten-service/src/test/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/rest/referendumvorlagen/ReferendumvorlagenControllerIntegrationTest.java
  wls-basisdaten-service/src/test/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/rest/wahltermindaten/WahltermindatenControllerIntegrationTest.java
  wls-basisdaten-service/src/test/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/rest/wahlvorschlag/WahlvorschlaegeControllerIntegrationTest.java
  wls-briefwahl-service/pom.xml
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/configuration/SecurityConfigurationTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/service/beanstandetewahlbriefe/BeanstandeteWahlbriefeServiceSecurityTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/service/wahlbriefdaten/WahlbriefdatenServiceSecurityTest.java
  wls-broadcast-service/pom.xml
  wls-eai-service/pom.xml
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/configuration/SecurityConfigurationTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/ergebnismeldung/ErgebnismeldungControllerIntegrationTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/wahlbeteiligung/WahlbeteiligungControllerIntegrationTest.java
  wls-ergebnismeldung-service/pom.xml
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/configuration/SecurityConfigurationTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/awerte/AWerteControllerIntegrationTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/awerte/AsyncProgressControllerIntegrationTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/ergebnismeldung/ErgebnismeldungControllerIntegrationTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/ausdruck/AusdruckServiceSecurityTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/begruendung/BegruendungServiceSecurityTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/ergebnisse/ErgebnisseServiceSecurityTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/status/StatusServiceSecurityTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/stimmabgabevermerke/StimmabgabevermerkeServiceSecurityTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/stimmzettelumschlaege/StimmzettelumschlaegeServiceSecurityTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/wahlscheine/WahlscheineServiceSecurityTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/utils/Testdaten.java
  wls-infomanagement-service/pom.xml
  wls-infomanagement-service/src/test/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/configuration/SecurityConfigurationTest.java
  wls-infomanagement-service/src/test/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/rest/konfiguration/KonfigurationControllerIntegrationTest.java
  wls-infomanagement-service/src/test/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/rest/wahltag/KonfigurierterWahltagControllerIntegrationTest.java
  wls-infomanagement-service/src/test/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/service/konfiguration/KonfigurationServiceSecurityTest.java
  wls-monitoring-service/pom.xml
  wls-monitoring-service/src/test/java/de/muenchen/oss/wahllokalsystem/monitoringservice/configuration/SecurityConfigurationTest.java
  wls-monitoring-service/src/test/java/de/muenchen/oss/wahllokalsystem/monitoringservice/rest/waehleranzahl/WaehleranzahlControllerIntegrationTest.java
  wls-monitoring-service/src/test/java/de/muenchen/oss/wahllokalsystem/monitoringservice/service/waehleranzahl/WaehleranzahlServiceSecurityTest.java
  wls-vorfaelleundvorkommnisse-service/pom.xml
  wls-vorfaelleundvorkommnisse-service/src/test/java/de/muenchen/oss/wahllokalsystem/vorfaelleundvorkommnisseservice/service/ereignis/EreignisServiceSecurityTest.java
  wls-wahlvorbereitung-service/pom.xml
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/configuration/SecurityConfigurationTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/waehlerverzeichnis/WaehlerverzeichnisControllerIntegrationTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/briefwahlvorbereitung/BriefwahlvorbereitungServiceSecurityTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/eroeffnungsuhrzeit/EroeffnungsUhrzeitServiceSecurityTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/fortsetzungsuhrzeit/FortsetzungsUhrzeitServiceSecurityTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/unterbrechungsuhrzeit/UnterbrechungsUhrzeitServiceSecurityTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/urnenwahlschliessungsuhrzeit/UrnenwahlSchliessungsUhrzeitServiceSecurityTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/urnenwahlvorbereitung/UrnenwahlvorbereitungServiceSecurityTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/waehlerverzeichnis/WaehlerverzeichnisServiceSecurityTest.java
  wls-wahlvorstand-service/pom.xml
  wls-wahlvorstand-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/configuration/SecurityConfigurationTest.java
  wls-wahlvorstand-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/service/wahlvorstand/WahlvorstandServiceSecurityTest.java
Labels: service-broadcast, service-briefwahl, service-ergebnismeldung, service-wahlvorstand, service-admin, service-wahlvorbereitung, service-monitoring, service-infomanagement, service-basisdaten, service-vorfaelleundvorkommnisse, service-auth, service-eai

#1096 Release wahlvorstand 0.3.0
  wls-wahlvorstand-service/pom.xml
Labels: service-wahlvorstand

#1094 Release vorfaelle 0.2.0
  wls-vorfaelleundvorkommnisse-service/pom.xml
Labels: service-vorfaelleundvorkommnisse

#1093 Release monitoring 0.2.0
  wls-monitoring-service/pom.xml
Labels: service-monitoring

#1092 Release infomanagement 0.3.0
  wls-infomanagement-service/pom.xml
Labels: service-infomanagement

#1091 Release ergebnismeldung 0.3.0
  wls-ergebnismeldung-service/pom.xml
Labels: service-ergebnismeldung

#1090 Release eai 0.4.0
  wls-eai-service/pom.xml
Labels: service-eai

#1089 Release broadcast 0.3.0
  wls-broadcast-service/pom.xml
Labels: service-broadcast

#1088 Release briefwahl 0.2.0
  wls-briefwahl-service/pom.xml
Labels: service-briefwahl

#1087 Release basisdaten 0.2.0
  wls-basisdaten-service/pom.xml
Labels: service-basisdaten

#1086 Release auth 0.3.0
  wls-auth-service/pom.xml
Labels: service-auth

#1095 Release wahlvorbereitung 0.2.0
  wls-wahlvorbereitung-service/pom.xml
Labels: service-wahlvorbereitung

#1083 Release admin 0.2.0
  wls-admin-service/pom.xml
Labels: service-admin

#1103 976 wls eai service enable und implement tests
  wls-eai-service/src/main/java/de/muenchen/oss/wahllokalsystem/eaiservice/domain/TheEntity.java
  wls-eai-service/src/main/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/TheEntityRepository.java
  wls-eai-service/src/main/resources/db/migrations/h2/V5_0__dropTableTheEntity.sql
  wls-eai-service/src/main/resources/db/migrations/oracle/V5_0__dropTableTheEntity.sql
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/configuration/UnicodeConfigurationTest.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/rest/TheEntityRepositoryTest.java
Labels: service-eai

#1101 fix request body property grund1 -> grund
  wls-ergebnismeldung-service/src/test/resources/begruendung.http
Labels: service-ergebnismeldung

#1099 348 docker compose nobezirkcheck deaktivieren
  stack/docker-compose.yml
  wls-briefwahl-service/src/test/resources/beanstandeteWahlbriefe.http
  wls-briefwahl-service/src/test/resources/wahlbriefdaten.http
  wls-ergebnismeldung-service/src/test/resources/ausdruck.http
  wls-ergebnismeldung-service/src/test/resources/begruendung.http
  wls-ergebnismeldung-service/src/test/resources/ergebnisse.http
  wls-ergebnismeldung-service/src/test/resources/sendErgebnismeldung.http
  wls-ergebnismeldung-service/src/test/resources/stimmabgabevermerke.http
  wls-ergebnismeldung-service/src/test/resources/stimmzettelumschlaege.http
  wls-ergebnismeldung-service/src/test/resources/wahlscheine.http
  wls-vorfaelleundvorkommnisse-service/src/test/resources/ereignis.http
  wls-wahlvorbereitung-service/src/test/resources/http_requests/briefwahlvorbereitung.http
  wls-wahlvorbereitung-service/src/test/resources/http_requests/eroeffnungsuhrzeit.http
  wls-wahlvorbereitung-service/src/test/resources/http_requests/fortsetzungsuhrzeit.http
  wls-wahlvorbereitung-service/src/test/resources/http_requests/unterbrechungsuhrzeit.http
  wls-wahlvorbereitung-service/src/test/resources/http_requests/urnenwahlschliessungsuhrzeit.http
  wls-wahlvorbereitung-service/src/test/resources/http_requests/urnenwahlvorbereitung.http
  wls-wahlvorbereitung-service/src/test/resources/http_requests/waehlerverzeichnis.http
Labels: service-briefwahl, service-ergebnismeldung, service-wahlvorbereitung, service-vorfaelleundvorkommnisse, dev-infrastructure

#1059 916 komponente verwendung darstellung benachrichtigungen des users
  wls-gui-wahllokalsystem/package-lock.json
  wls-gui-wahllokalsystem/package.json
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/composables/userNotification/userNotificationService.ts
  wls-gui-wahllokalsystem/src/constants.ts
  wls-gui-wahllokalsystem/src/main.ts
  wls-gui-wahllokalsystem/src/plugins/index.ts
  wls-gui-wahllokalsystem/src/plugins/router.ts
  wls-gui-wahllokalsystem/src/plugins/vuetify.ts
  wls-gui-wahllokalsystem/src/stores/userNotificationStore.ts
  wls-gui-wahllokalsystem/src/views/ExampleToastView.vue
  wls-gui-wahllokalsystem/tests/composables/userNotification/userNotificationService.spec.ts
  wls-gui-wahllokalsystem/tests/stores/userNotificationStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1110 fix log message to match the methodname
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/ergebnisse/ErgebnisseService.java
Labels: service-ergebnismeldung

#1104 1098 ids der anfrage werden bei verarbeitung vertauscht
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/ergebnisse/ErgebnisseController.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/ergebnisse/ErgebnisseService.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/rest/ergebnisse/ErgebnisseControllerTest.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/service/ergebnisse/ErgebnisseServiceTest.java
Labels: service-ergebnismeldung

#1117 904 storybookjs im admintool nutzbar machen
  wls-gui-admintool/.storybook/main.ts
  wls-gui-admintool/.storybook/preview.ts
  wls-gui-admintool/package-lock.json
  wls-gui-admintool/package.json
  wls-gui-admintool/src/plugins/router.ts
Labels: wls-gui-admin

#1073 714-validate-für-ddl-auto-in-den-tests-verwenden
  wls-auth-service/src/main/resources/application.yml
  wls-auth-service/src/test/resources/application-test.yml
  wls-basisdaten-service/src/main/resources/application.yml
  wls-basisdaten-service/src/test/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/rest/handbuch/HandbuchControllerIntegrationTest.java
  wls-basisdaten-service/src/test/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/rest/ungueltigewahlscheine/UngueltigeWahlscheineControllerIntegrationTest.java
  wls-basisdaten-service/src/test/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/service/handbuch/HandbuchServiceSecurityTest.java
  wls-basisdaten-service/src/test/resources/application-test.yml
  wls-briefwahl-service/src/main/resources/application.yml
  wls-briefwahl-service/src/test/resources/application-test.yml
  wls-broadcast-service/src/main/resources/application.yml
  wls-broadcast-service/src/test/resources/application-test.yml
  wls-ergebnismeldung-service/src/main/resources/application.yml
  wls-ergebnismeldung-service/src/test/resources/application-test.yml
  wls-infomanagement-service/src/main/resources/application.yml
  wls-infomanagement-service/src/test/resources/application-test.yml
  wls-monitoring-service/src/main/resources/application.yml
  wls-monitoring-service/src/test/resources/application-test.yml
  wls-vorfaelleundvorkommnisse-service/src/main/resources/application.yml
  wls-vorfaelleundvorkommnisse-service/src/test/resources/application-test.yml
  wls-wahlvorbereitung-service/src/main/resources/application.yml
  wls-wahlvorbereitung-service/src/test/resources/application-test.yml
Labels: service-broadcast, service-briefwahl, service-ergebnismeldung, service-wahlvorstand, service-admin, service-wahlvorbereitung, service-monitoring, service-infomanagement, service-basisdaten, service-vorfaelleundvorkommnisse, service-auth, service-eai

#1113 update wahlvorstand service to match nested testsuite convention
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/briefwahlvorbereitung/BriefwahlvorbereitungControllerTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/eroeffnungsuhrzeit/EroeffnungsUhrzeitControllerTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/fortsetzungsuhrzeit/FortsetzungsUhrzeitControllerTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/unterbrechungsuhrzeit/UnterbrechungsUhrzeitControllerTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/rest/urnenwahlschliessungsuhrzeit/UrnenwahlSchliessungsUhrzeitControllerTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/briefwahlvorbereitung/BriefwahlvorbereitungServiceTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/eroeffnungsuhrzeit/EroeffnungsUhrzeitServiceTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/fortsetzungsuhrzeit/FortsetzungsUhrzeitServiceTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/unterbrechungsuhrzeit/UnterbrechungsUhrzeitServiceTest.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/service/urnenwahlvorbereitung/UrnenwahlvorbereitungServiceTest.java
Labels: service-wahlvorbereitung

#1100 605 verwendung externe schlüssel für rsa key
  docs/src/services/backend-services/auth-service/index.md
  stack/run_configurations/AuthService - local,standalone,db-dummydata.run.xml
  stack/run_configurations/AuthService - local,standalone,db-oracle,db-dummydata.run.xml
  wls-auth-service/pom.xml
  wls-auth-service/src/main/java/de/muenchen/oss/wahllokalsystem/authservice/configuration/SecurityConfiguration.java
  wls-auth-service/src/main/java/de/muenchen/oss/wahllokalsystem/authservice/configuration/properties/RSAConfigurationProperties.java
  wls-auth-service/src/main/java/de/muenchen/oss/wahllokalsystem/authservice/configuration/properties/RSAKeySetting.java
  wls-auth-service/src/test/java/de/muenchen/oss/wahllokalsystem/authservice/configuration/SecurityRSAKeysConfigurationTest.java
  wls-auth-service/src/test/resources/application-test.yml
  wls-auth-service/src/test/resources/application-testWithoutRSAKeys.yml
Labels: documentation, service-auth

#1123 996 erstellen der restclients für admintool
  .gitignore
  wls-gui-admintool/.prettierignore
  wls-gui-admintool/eslint.config.js
  wls-gui-admintool/openapitools.json
  wls-gui-admintool/package-lock.json
  wls-gui-admintool/package.json
  wls-gui-admintool/src/api/wls-clients/generated-admin-api/api.ts
  wls-gui-admintool/src/api/wls-clients/generated-admin-api/base.ts
  wls-gui-admintool/src/api/wls-clients/generated-admin-api/common.ts
  wls-gui-admintool/src/api/wls-clients/generated-admin-api/configuration.ts
  wls-gui-admintool/src/api/wls-clients/generated-admin-api/index.ts
  wls-gui-admintool/src/api/wls-clients/generated-auth-api/api.ts
  wls-gui-admintool/src/api/wls-clients/generated-auth-api/base.ts
  wls-gui-admintool/src/api/wls-clients/generated-auth-api/common.ts
  wls-gui-admintool/src/api/wls-clients/generated-auth-api/configuration.ts
  wls-gui-admintool/src/api/wls-clients/generated-auth-api/index.ts
  wls-gui-admintool/src/api/wls-clients/generated-basisdaten-api/api.ts
  wls-gui-admintool/src/api/wls-clients/generated-basisdaten-api/base.ts
  wls-gui-admintool/src/api/wls-clients/generated-basisdaten-api/common.ts
  wls-gui-admintool/src/api/wls-clients/generated-basisdaten-api/configuration.ts
  wls-gui-admintool/src/api/wls-clients/generated-basisdaten-api/index.ts
  wls-gui-admintool/src/api/wls-clients/generated-broadcast-api/api.ts
  wls-gui-admintool/src/api/wls-clients/generated-broadcast-api/base.ts
  wls-gui-admintool/src/api/wls-clients/generated-broadcast-api/common.ts
  wls-gui-admintool/src/api/wls-clients/generated-broadcast-api/configuration.ts
  wls-gui-admintool/src/api/wls-clients/generated-broadcast-api/index.ts
  wls-gui-admintool/src/api/wls-clients/generated-ergebnismeldung-api/api.ts
  wls-gui-admintool/src/api/wls-clients/generated-ergebnismeldung-api/base.ts
  wls-gui-admintool/src/api/wls-clients/generated-ergebnismeldung-api/common.ts
  wls-gui-admintool/src/api/wls-clients/generated-ergebnismeldung-api/configuration.ts
  wls-gui-admintool/src/api/wls-clients/generated-ergebnismeldung-api/index.ts
  wls-gui-admintool/src/api/wls-clients/generated-infomanagement-api/api.ts
  wls-gui-admintool/src/api/wls-clients/generated-infomanagement-api/base.ts
  wls-gui-admintool/src/api/wls-clients/generated-infomanagement-api/common.ts
  wls-gui-admintool/src/api/wls-clients/generated-infomanagement-api/configuration.ts
  wls-gui-admintool/src/api/wls-clients/generated-infomanagement-api/index.ts
  wls-gui-admintool/src/resources/openapis/openapi.admin.0.2.0.json
  wls-gui-admintool/src/resources/openapis/openapi.auth.0.3.0.json
  wls-gui-admintool/src/resources/openapis/openapi.basisdaten.0.2.0.json
  wls-gui-admintool/src/resources/openapis/openapi.broadcast.0.3.0.json
  wls-gui-admintool/src/resources/openapis/openapi.ergebnismeldung.0.3.0.json
  wls-gui-admintool/src/resources/openapis/openapi.infomanagement.0.3.0.json
Labels: wls-gui-admin

#1126 Angleichung im Naming der UserAuthorityRetrievers
  wls-admin-service/src/main/java/de/muenchen/oss/wahllokalsystem/adminservice/configuration/JwtUserInfoAuthenticationConverter.java
  wls-admin-service/src/main/java/de/muenchen/oss/wahllokalsystem/adminservice/configuration/SecurityConfiguration.java
  wls-admin-service/src/main/java/de/muenchen/oss/wahllokalsystem/adminservice/configuration/UserInfoAuthoritiesRetriever.java
  wls-admin-service/src/test/java/de/muenchen/oss/wahllokalsystem/adminservice/configuration/UserInfoAuthoritiesRetrieverTest.java
  wls-auth-service/src/main/java/de/muenchen/oss/wahllokalsystem/authservice/configuration/UserInfoAuthoritiesRetriever.java
  wls-auth-service/src/test/java/de/muenchen/oss/wahllokalsystem/authservice/configuration/UserInfoAuthoritiesRetrieverTest.java
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/configuration/UserInfoAuthoritiesRetriever.java
  wls-briefwahl-service/src/main/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/configuration/JwtUserInfoAuthenticationConverter.java
  wls-briefwahl-service/src/main/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/configuration/SecurityConfiguration.java
  wls-briefwahl-service/src/main/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/configuration/UserInfoAuthoritiesRetriever.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/configuration/UserInfoAuthoritiesRetrieverTest.java
  wls-broadcast-service/src/main/java/de/muenchen/oss/wahllokalsystem/broadcastservice/configuration/JwtUserInfoAuthenticationConverter.java
  wls-broadcast-service/src/main/java/de/muenchen/oss/wahllokalsystem/broadcastservice/configuration/SecurityConfiguration.java
  wls-broadcast-service/src/main/java/de/muenchen/oss/wahllokalsystem/broadcastservice/configuration/UserInfoAuthoritiesRetriever.java
  wls-broadcast-service/src/test/java/de/muenchen/oss/wahllokalsystem/broadcastservice/configuration/UserInfoAuthoritiesRetrieverTest.java
  wls-eai-service/src/main/java/de/muenchen/oss/wahllokalsystem/eaiservice/configuration/JwtUserInfoAuthenticationConverter.java
  wls-eai-service/src/main/java/de/muenchen/oss/wahllokalsystem/eaiservice/configuration/SecurityConfiguration.java
  wls-eai-service/src/main/java/de/muenchen/oss/wahllokalsystem/eaiservice/configuration/UserInfoAuthoritiesRetriever.java
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/configuration/UserInfoAuthoritiesRetrieverTest.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/configuration/JwtUserInfoAuthenticationConverter.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/configuration/SecurityConfiguration.java
  wls-ergebnismeldung-service/src/main/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/configuration/UserInfoAuthoritiesRetriever.java
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/configuration/UserInfoAuthoritiesRetrieverTest.java
  wls-infomanagement-service/src/main/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/configuration/UserInfoAuthoritiesRetriever.java
  wls-monitoring-service/src/main/java/de/muenchen/oss/wahllokalsystem/monitoringservice/configuration/JwtUserInfoAuthenticationConverter.java
  wls-monitoring-service/src/main/java/de/muenchen/oss/wahllokalsystem/monitoringservice/configuration/SecurityConfiguration.java
  wls-monitoring-service/src/main/java/de/muenchen/oss/wahllokalsystem/monitoringservice/configuration/UserInfoAuthoritiesRetriever.java
  wls-monitoring-service/src/test/java/de/muenchen/oss/wahllokalsystem/monitoringservice/configuration/UserInfoAuthoritiesRetrieverTest.java
  wls-vorfaelleundvorkommnisse-service/src/main/java/de/muenchen/oss/wahllokalsystem/vorfaelleundvorkommnisseservice/configuration/UserInfoAuthoritiesRetriever.java
  wls-wahlvorbereitung-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/configuration/JwtUserInfoAuthenticationConverter.java
  wls-wahlvorbereitung-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/configuration/SecurityConfiguration.java
  wls-wahlvorbereitung-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/configuration/UserInfoAuthoritiesRetriever.java
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/configuration/UserInfoAuthoritiesRetrieverTest.java
  wls-wahlvorstand-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/configuration/JwtUserInfoAuthenticationConverter.java
  wls-wahlvorstand-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/configuration/SecurityConfiguration.java
  wls-wahlvorstand-service/src/main/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/configuration/UserInfoAuthoritiesRetriever.java
  wls-wahlvorstand-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorstandservice/configuration/UserInfoAuthoritiesRetrieverTest.java
Labels: service-broadcast, service-briefwahl, service-ergebnismeldung, service-wahlvorstand, service-admin, service-wahlvorbereitung, service-monitoring, service-infomanagement, service-basisdaten, service-vorfaelleundvorkommnisse, service-auth, service-eai

#1119 970 autocomplete component for wahltage
  .gitignore
  docs/.vitepress/config.mts
  docs/src/public/defineModelAdr/defineModel_without_extra_config.png
  docs/src/public/defineModelAdr/props-and-defineEmit.png
  docs/src/technik/adr/adr-use-defineModel.md
  wls-gui-admintool/.prettierignore
  wls-gui-admintool/package-lock.json
  wls-gui-admintool/package.json
  wls-gui-admintool/src/components/common/BaseAutocompleteWahltag.vue
  wls-gui-admintool/src/plugins/vuetify.ts
  wls-gui-admintool/stories/components/common/BaseAutocompleteWahltag.stories.ts
  wls-gui-admintool/tests/components/common/BaseAutocompleteWahltag.spec.ts
  wls-gui-admintool/tests/components/common/__snapshots__/BaseAutocompleteWahltag.vue/visual logic/should_renderAutocompleteWithCorrectLabel_when_componentIsMounted.html
  wls-gui-admintool/tests/components/common/__snapshots__/BaseAutocompleteWahltag.vue/visual logic/should_renderDateOfWahltag_when_elementIsSelected.html
  wls-gui-admintool/tests/utils/testutils.ts
  wls-gui-admintool/tsconfig.app.json
Labels: documentation, wls-gui-admin
