Repository it-at-m/Wahllokalsystem, pull requests merged in 2025-10, with the labels that each got.

#1932 Add test for indexdb composable
  wls-gui-wahllokalsystem/tests/composables/indexDB/indexDB.spec.ts
Labels: wls-gui-wahllokalsystem

#1999 1940 erweiterung ergebnissinitialisierung um mbw
  wls-gui-wahllokalsystem/src/composables/ergebnismeldung/ergebnisMapper.ts
  wls-gui-wahllokalsystem/src/types/ergebnismeldung/StapelArtEnum.ts
  wls-gui-wahllokalsystem/tests/composables/ergebnismeldung/ergebnisMapper.spec.ts
  wls-gui-wahllokalsystem/tests/composables/tasks/taskFactories/ergebnisseTaskFactory.spec.ts
Labels: wls-gui-wahllokalsystem

#2004 Refactor ergebnismeldung testdata factories
  wls-gui-wahllokalsystem/package-lock.json
  wls-gui-wahllokalsystem/tests/stores/ergebnismeldungStore.spec.ts
  wls-gui-wahllokalsystem/tests/utils/ergebnismeldung/commonErgebnismeldungTestDataFactory.ts
  wls-gui-wahllokalsystem/tests/utils/ergebnismeldung/ergebnisseTestDataFactory.ts
  wls-gui-wahllokalsystem/tests/utils/ergebnismeldung/wahlscheineTestDataFactory.ts
Labels: wls-gui-wahllokalsystem

#1979 Add wahl-worker test
  wls-gui-wahllokalsystem/tests/service-worker/wahl-worker.spec.ts
Labels: wls-gui-wahllokalsystem

#1993 1959 Ergänzung der Regeln von Stapel A Inputs
  wls-gui-wahllokalsystem/src/components/ergebnisermittlung/OBW/stapelA/BaseRowOBWStapelA.vue
Labels: wls-gui-wahllokalsystem

#2010 1969 Adr zum Löschen von Werten
  docs/.vitepress/config.mts
  docs/src/technik/adr/ui/adr005-delete-table-values.md
Labels: documentation

#1994 1664 - fix falsches Format bei wbid_wahlnummer
  wls-admin-service/src/main/java/de/muenchen/oss/wahllokalsystem/adminservice/client/auth/WahllokalBenutzerClientMapper.java
  wls-admin-service/src/test/java/de/muenchen/oss/wahllokalsystem/adminservice/client/auth/WahllokalBenutzerClientMapperTest.java
Labels: service-admin
