Repository it-at-m/Wahllokalsystem, pull requests merged in 2025-09, with the labels that each got.

#1793 1687 laden der erfassten ergebnisse bei initialisierung
  wls-gui-wahllokalsystem/src/composables/ergebnismeldung/ergebnisMapper.ts
  wls-gui-wahllokalsystem/src/composables/ergebnismeldung/ergebnisService.ts
  wls-gui-wahllokalsystem/src/composables/ergebnismeldung/wahlscheineMapper.ts
  wls-gui-wahllokalsystem/src/composables/tasks/taskFactories/ergebnisseTaskFactory.ts
  wls-gui-wahllokalsystem/src/composables/tasks/taskListService.ts
  wls-gui-wahllokalsystem/src/stores/ergebnismeldungStore.ts
  wls-gui-wahllokalsystem/src/stores/wahlscheineStore.ts
  wls-gui-wahllokalsystem/src/types/ergebnismeldung/BezirkUndWahlID.ts
  wls-gui-wahllokalsystem/src/types/ergebnismeldung/BezirkUndWahlIDStapelArt.ts
  wls-gui-wahllokalsystem/src/types/ergebnismeldung/Ergebnis.ts
  wls-gui-wahllokalsystem/src/types/ergebnismeldung/Ergebnisse.ts
  wls-gui-wahllokalsystem/src/types/ergebnismeldung/StapelArtEnum.ts
  wls-gui-wahllokalsystem/src/types/ergebnismeldung/Wahlscheine.ts
  wls-gui-wahllokalsystem/tests/composables/ergebnismeldung/ergebnisMapper.spec.ts
  wls-gui-wahllokalsystem/tests/composables/ergebnismeldung/ergebnisService.spec.ts
  wls-gui-wahllokalsystem/tests/composables/ergebnismeldung/wahlscheineMapper.spec.ts
  wls-gui-wahllokalsystem/tests/composables/tasks/taskFactories/ergebnisseTaskFactory.spec.ts
  wls-gui-wahllokalsystem/tests/stores/ergebnismeldungStore.spec.ts
  wls-gui-wahllokalsystem/tests/utils/ergebnismeldung/ergebnisseTestDataFactory.ts
  wls-gui-wahllokalsystem/tests/utils/ergebnismeldung/wahlscheineTestDataFactory.ts
Labels: wls-gui-wahllokalsystem

#1805 1734 Bug: Wahlvorstandanwesenheit bleibt beim Laden via Offline-Daten erhalten
  wls-gui-wahllokalsystem/src/composables/wahlvorstand/wahlvorstandMapper.ts
  wls-gui-wahllokalsystem/tests/composables/wahlvorstand/wahlvorstandMapper.spec.ts
Labels: wls-gui-wahllokalsystem

#1802 1692 integration erfassung urneninhalt in anwendung
  docs/src/about/index.md
  wls-gui-wahllokalsystem/src/components/navigation/TheKommunalwahlenScoresListGroup.vue
  wls-gui-wahllokalsystem/src/components/navigation/auszaehlung_wahlarten/TheBAWScoresListGroup.vue
  wls-gui-wahllokalsystem/src/components/navigation/auszaehlung_wahlarten/TheOBWScoresListGroup.vue
  wls-gui-wahllokalsystem/src/components/navigation/auszaehlung_wahlarten/TheSRWScoresListGroup.vue
  wls-gui-wahllokalsystem/src/constants.ts
  wls-gui-wahllokalsystem/src/plugins/router.ts
  wls-gui-wahllokalsystem/src/stores/wahlenStore.ts
  wls-gui-wahllokalsystem/src/views/auszaehlung/ErfassungStimmzettelView.vue
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/TheWlsAppBar.vue/visual logic/should_notRenderNavigationDrawerIcon_when_initializationOfTaskHasNotCompletelyRun.html
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/TheWlsAppBar.vue/visual logic/should_renderNavigationDrawerIcon_when_initializationOfTaskHasCompletelyRun.html
  wls-gui-wahllokalsystem/tests/stores/wahlenStore.spec.ts
Labels: documentation, wls-gui-wahllokalsystem

#1819 1812 - Refactore Linking in ListItems
  wls-gui-wahllokalsystem/src/components/navigation/TheBWBElectionListGroup.vue
  wls-gui-wahllokalsystem/src/components/navigation/TheKommunalwahlenScoresListGroup.vue
  wls-gui-wahllokalsystem/src/components/navigation/TheUWBElectionListGroup.vue
  wls-gui-wahllokalsystem/src/components/navigation/auszaehlung_wahlarten/TheBAWScoresListGroup.vue
  wls-gui-wahllokalsystem/src/components/navigation/auszaehlung_wahlarten/TheOBWScoresListGroup.vue
  wls-gui-wahllokalsystem/src/components/navigation/auszaehlung_wahlarten/TheSRWScoresListGroup.vue
  wls-gui-wahllokalsystem/src/components/wlsComponents/TheWlsAppBar.vue
  wls-gui-wahllokalsystem/src/composables/navigation/navigationUtils.ts
  wls-gui-wahllokalsystem/src/views/ExampleError404View.vue
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/TheWlsAppBar.vue/visual logic/should_notRenderNavigationDrawerIcon_when_initializationOfTaskHasNotCompletelyRun.html
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/TheWlsAppBar.vue/visual logic/should_renderNavigationDrawerIcon_when_initializationOfTaskHasCompletelyRun.html
  wls-gui-wahllokalsystem/tests/composables/navigation/navigationUtils.ts.spec.ts
Labels: wls-gui-wahllokalsystem

#1818 1691 - Erweiterung der Regeln bei der Erfassung des Urnen Inhaltes - add rules for wahlurne öffnungsuhrzeit
  docs/src/about/index.md
  wls-gui-wahllokalsystem/src/components/ergebnisermittlung/TheErgebnisermittlungStimmzettelumschlaegeCard.vue
Labels: documentation, wls-gui-wahllokalsystem

#1821 Fix Anzeige der Regeln bei Wahlvorstandsanwesenheit
  wls-gui-wahllokalsystem/src/components/wahlvorstand/TheWahlvorstandAnwesenheitRequirementCard.vue
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitRequirementCard.vue/visual logic/should_showErrorText_when_mindestAnwesenheitIsNotGiven.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitRequirementCard.vue/visual logic/should_showErrorText_when_schriftfuehrerIsNotAnwesend.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitRequirementCard.vue/visual logic/should_showErrorText_when_wahlvorsteherIsNotAnwesend.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitRequirementCard.vue/visual logic/should_showNoErrorTexts_when_allRequirementsAreSatisfied.html
Labels: wls-gui-wahllokalsystem

#1825 1754 - Laden der erfassten Informationen zum Wäherlverzeichnis bei Initialisierung
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/composables/tasks/taskFactories/waehlverzeichnisTaskFactory.ts
  wls-gui-wahllokalsystem/src/composables/tasks/taskListService.ts
  wls-gui-wahllokalsystem/tests/composables/tasks/taskFactories/waehlverzeichnisTaskFactory.spec.ts
  wls-gui-wahllokalsystem/tests/composables/tasks/taskListService.spec.ts
Labels: wls-gui-wahllokalsystem

#1823 1407 Prototyp Offline-Faehigkeit ausimplementiert - Update Doc
  docs/src/technik/systemspecification/frontend.md
  docs/src/technik/systemspecification/frontend/offlinefaehigkeit-konzept.md
Labels: documentation

#1837 1609 initialisierung erfasste stimmzettel umschlaege vom ergebnismeldungservice
  docs/src/about/index.md
  wls-gui-wahllokalsystem/src/components/ergebnisermittlung/TheErgebnisermittlungStimmzettelumschlaegeCard.vue
  wls-gui-wahllokalsystem/src/composables/ergebnisermittlung/ergebnisermittlungMapper.ts
  wls-gui-wahllokalsystem/src/composables/ergebnisermittlung/ergebnisermittlungService.ts
  wls-gui-wahllokalsystem/src/composables/tasks/taskFactories/stimmzettelumschlaegeTaskFactory.ts
  wls-gui-wahllokalsystem/src/composables/tasks/taskListService.ts
  wls-gui-wahllokalsystem/src/stores/wahlenStore.ts
  wls-gui-wahllokalsystem/tests/components/ergebnisermittlung/TheErgebnisermittlungStimmzettelumschlaegeCard.spec.ts
  wls-gui-wahllokalsystem/tests/composables/ergebisermittlung/ergebnisermittlungMapper.spec.ts
  wls-gui-wahllokalsystem/tests/composables/ergebisermittlung/ergebnisermittlungService.spec.ts
  wls-gui-wahllokalsystem/tests/composables/tasks/taskListService.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlenStore.spec.ts
Labels: documentation, wls-gui-wahllokalsystem

#1716 969-komponente-edit-dialog-für-konfigurationsitem
  wls-gui-admintool/src/components/config-parameter/BaseDialogConfigParameterDisplay.vue
  wls-gui-admintool/stories/components/config-parameter/BaseDialogConfigParameterDisplay.stories.ts
  wls-gui-admintool/tests/components/config-parameter/BaseDialogConfigParameterDisplay.spec.ts
  wls-gui-admintool/tests/components/config-parameter/__snapshots__/BaseDialogConfigParameterDisplay.vue/visual logic/should_hideDialog_when_hideWasCalledAfterShow.html
  wls-gui-admintool/tests/components/config-parameter/__snapshots__/BaseDialogConfigParameterDisplay.vue/visual logic/should_renderDialog_when_showWasCalled.html
Labels: service-infomanagement, wls-gui-admin

#1839 1834 überarbietung erfassung der stimmabgabevermerke
  wls-gui-wahllokalsystem/src/components/common/buttons/BaseButtonSave.vue
  wls-gui-wahllokalsystem/src/components/common/dialogs/BaseDialogBegruendung.vue
  wls-gui-wahllokalsystem/src/components/ergebnisermittlung/TheErgebnisermittlungStimmzettelumschlaegeCard.vue
  wls-gui-wahllokalsystem/src/components/stimmabgabevermerke/TheUWBStimmabgabevermerkeEingenommeneWahlscheineCard.vue
  wls-gui-wahllokalsystem/src/components/stimmabgabevermerke/TheUWBStimmabgabevermerkeEingenommeneWahlscheineTable.vue
  wls-gui-wahllokalsystem/src/components/stimmabgabevermerke/TheUWBStimmabgabevermerkeErfassenTable.vue
  wls-gui-wahllokalsystem/src/components/wahlhandlung/BaseWaehlerverzeichnisCheckCard.vue
  wls-gui-wahllokalsystem/src/components/wahlhandlung/BaseWahleroeffnungCard.vue
  wls-gui-wahllokalsystem/src/components/wahlhandlung/BaseWahlschliessungCard.vue
  wls-gui-wahllokalsystem/src/components/wahlhandlung/TheUnguetilgeWahlscheineVerifyCard.vue
  wls-gui-wahllokalsystem/src/components/wahlhandlung/TheWahlbriefErfassungCard.vue
  wls-gui-wahllokalsystem/src/components/wahlhandlung/TheWahlumgebungBwbCard.vue
  wls-gui-wahllokalsystem/src/components/wahlhandlung/TheWahlumgebungUwbCard.vue
  wls-gui-wahllokalsystem/src/components/wahlhandlung/beanstandeteWahlbriefe/TheBeanstandeteWahlbriefeErfassenCard.vue
  wls-gui-wahllokalsystem/src/views/EreignisseView.vue
  wls-gui-wahllokalsystem/src/views/WahlvorstandAnwesenheitView.vue
Labels: wls-gui-wahllokalsystem

#1811 1407 prototyp offline faehigkeit ausimplementiert - merge task manager composable
  docs/src/technik/systemspecification/frontend/task-factories.md
  wls-gui-wahllokalsystem/src/components/wlsComponents/BaseOfflineLoading.vue
  wls-gui-wahllokalsystem/src/components/wlsComponents/OfflineSyncer.vue
  wls-gui-wahllokalsystem/src/components/wlsComponents/TheWlsAppBar.vue
  wls-gui-wahllokalsystem/src/composables/tasks/taskManager.ts
  wls-gui-wahllokalsystem/src/plugins/router.ts
  wls-gui-wahllokalsystem/src/stores/taskManagerStore.ts
  wls-gui-wahllokalsystem/tests/components/wlsComponents/BaseOfflineLoading.spec.ts
  wls-gui-wahllokalsystem/tests/components/wlsComponents/OfflineSyncer.spec.ts
  wls-gui-wahllokalsystem/tests/components/wlsComponents/TheWlsAppBar.spec.ts
  wls-gui-wahllokalsystem/tests/composables/common/taskManager.spec.ts
Labels: documentation, wls-gui-wahllokalsystem

#1835 1766 Bug: Offline-Syncer setzt dirty-flag nicht auf false
  docs/src/services/frontend-services/wahllokalsystem/index.md
  docs/src/technik/systemspecification/frontend/offlinefaehigkeit-konzept.md
Labels: documentation

#1843 1286 komponente zur erfassung stapel a daten
  wls-gui-wahllokalsystem/src/components/ergebnisermittlung/OBW/stapelA/BaseRowOBWStapelA.vue
  wls-gui-wahllokalsystem/src/components/ergebnisermittlung/OBW/stapelA/TheOBWStapelACard.vue
  wls-gui-wahllokalsystem/src/composables/ergebnisermittlung/obwStapelAUtils.ts
  wls-gui-wahllokalsystem/src/composables/ergebnismeldung/ergebnisUtils.ts
  wls-gui-wahllokalsystem/src/composables/wahlvorschlaege/wahlvorschlagUtils.ts
  wls-gui-wahllokalsystem/src/stores/ergebnismeldungStore.ts
  wls-gui-wahllokalsystem/src/stores/wahlvorschlaegeStore.ts
  wls-gui-wahllokalsystem/src/types/ergebnisermittlung/ErgebnisAndWahlvorschlag.ts
  wls-gui-wahllokalsystem/stories/components/ergebnisermittlung/OBW/stapelA/BaseRowOWBStapelA.stories.ts
  wls-gui-wahllokalsystem/stories/components/ergebnisermittlung/OBW/stapelA/TheOBWStapelACard.stories.ts
  wls-gui-wahllokalsystem/tests/composables/ergebisermittlung/obwStapelAUtils.spec.ts
  wls-gui-wahllokalsystem/tests/composables/ergebnismeldung/ergebnisUtils.spec.ts
  wls-gui-wahllokalsystem/tests/composables/wahlvorschlaege/wahlvorschlagUtils.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlvorschlaegeStore.spec.ts
  wls-gui-wahllokalsystem/tests/utils/wahlvorschlaege/WahlvorschlaegeTestDataFactory.ts
Labels: wls-gui-wahllokalsystem

#1875 1701 obw komponenten zur darstellung einer zusammenfassung der entscheidungen in stapel c
  wls-gui-wahllokalsystem/src/components/ergebnisermittlung/OBW/stapelC/TheOBWStapelCSummaryCard.vue
  wls-gui-wahllokalsystem/src/composables/ergebnisermittlung/obwStapelCUtils.ts
  wls-gui-wahllokalsystem/stories/components/ergebnisermittlung/OBW/stapelC/TheOBWStapelCSummaryCard.stories.ts
  wls-gui-wahllokalsystem/tests/composables/ergebisermittlung/obwStapelCUtils.spec.ts
Labels: wls-gui-wahllokalsystem

#1893 1752 Laden der erfassten Ereignisse bei Initalisierung
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/composables/tasks/taskFactories/ereignisseTaskFactory.ts
  wls-gui-wahllokalsystem/src/composables/tasks/taskListService.ts
  wls-gui-wahllokalsystem/tests/App.spec.ts
  wls-gui-wahllokalsystem/tests/composables/tasks/taskFactories/ereignisseTaskFactory.spec.ts
  wls-gui-wahllokalsystem/tests/composables/tasks/taskListService.spec.ts
Labels: wls-gui-wahllokalsystem

#1927 vue-component-type-helpers update 3.0.7 -> 3.0.8
  wls-gui-wahllokalsystem/package-lock.json
Labels: wls-gui-wahllokalsystem

#1915 fix typo in vuetify prop
  wls-gui-wahllokalsystem/src/components/vorfaelleundvorkommnisse/BaseEreignisRow.vue
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/BaseEreignisRow.vue/visual logic/should_renderRowWithData_when_mounted.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/BaseEreignisRow.vue/visual logic/should_renderRowWithErrorMessages_when_mountedWithoutAnyData.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseRows.vue/visual logic/should_showMultipleRows_when_multipleEreignisseAreGiven.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseRows.vue/visual logic/should_showOneRow_when_oneEreignisIsGiven.html
Labels: wls-gui-wahllokalsystem

#1930 🐛 1703 - Fix fehlende Zusammenfassung
  wls-gui-wahllokalsystem/src/views/auszaehlung/obw/StapelCView.vue
Labels: service-ergebnismeldung, wls-gui-wahllokalsystem
