Repository it-at-m/Wahllokalsystem, pull requests merged in 2025-07, with the labels that each got.

#1461 1045 timeout based show anwesenheitcheck popup
  wls-gui-wahllokalsystem/package-lock.json
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/components/wahlvorstand/TheWahlvorstandAnwesenheitsCheckPopupDialog.vue
  wls-gui-wahllokalsystem/src/composables/dateOfActionTimeout.ts
  wls-gui-wahllokalsystem/src/stores/infomanagementStore.ts
  wls-gui-wahllokalsystem/src/stores/wahlvorstandStore.ts
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/TheWahlvorstandAnwesenheitsCheckPopupDialog.spec.ts
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitsCheckPopupDialog.vue/behavioral logic/should_triggerResetAllAnwesenheitSwitchToWahlvorstandAndCloseDialog_when_confirmClicked.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitsCheckPopupDialog.vue/visual logic/should_notRenderDialog_when_timeoutCallbackWasNotTriggered.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitsCheckPopupDialog.vue/visual logic/should_renderDialog_when_timeoutCallbackWasTriggered.html
  wls-gui-wahllokalsystem/tests/composables/dateOfActionTimeout.spec.ts
  wls-gui-wahllokalsystem/tests/stores/infomanagementStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlvorstandStore.spec.ts
  wls-gui-wahllokalsystem/tests/utils/infomanagement/KonfigurationsparameterTestDataFactory.ts
Labels: wls-gui-wahllokalsystem

#1475 Designangleichung der aktuellen Uhrzeit an den Rest der AppBar
  wls-gui-wahllokalsystem/src/components/wlsComponents/TheWlsAppBar.vue
  wls-gui-wahllokalsystem/src/components/wlsComponents/WlsClock.vue
Labels: wls-gui-wahllokalsystem

#1041 suggest to reduce number of concurrent PRs to 2
  docs/.vitepress/config.mts
  docs/src/technik/adr/adr-lower-number-of-renovate-prs.md
  renovate.json5
Labels: documentation

#1470 989 die wahlbeteiligung kann nur erfasst werden wenn eine stimmabgabe möglich ist
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/components/monitoring/TheWaehleranzahlCountButton.vue
  wls-gui-wahllokalsystem/src/components/wlsComponents/TheWlsAppBar.vue
  wls-gui-wahllokalsystem/src/composables/monitoring/monitoringCronjobService.ts
  wls-gui-wahllokalsystem/src/stores/monitoringStore.ts
  wls-gui-wahllokalsystem/tests/components/monitoring/TheWaehleranzahlCountButton.spec.ts
  wls-gui-wahllokalsystem/tests/stores/monitoringStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1479 1289 dynamisches setzen des titels und wahldatums im nachbesetzung druck template
  wls-gui-wahllokalsystem/src/components/wahlvorstand/TheNachbesetzungDruckenButton.vue
  wls-gui-wahllokalsystem/src/composables/common/dateTimeFormatter.ts
  wls-gui-wahllokalsystem/src/composables/wahlvorstand/wahlvorstandNachbesetzungsDruck.ts
  wls-gui-wahllokalsystem/src/stores/wahlenStore.ts
  wls-gui-wahllokalsystem/src/types/wahlvorstand/NachbesetzungsDruckInput.ts
  wls-gui-wahllokalsystem/tests/composables/common/dateTimeFormatter.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlenStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1457 1391-verstecken-des-menüs-bis-alles-erfolgreich-geladen-wurde
  wls-gui-wahllokalsystem/src/components/wlsComponents/TheWlsAppBar.vue
  wls-gui-wahllokalsystem/src/components/wlsComponents/WlsClock.vue
  wls-gui-wahllokalsystem/tests/components/wlsComponents/TheWlsAppBar.spec.ts
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/TheWlsAppBar.vue/visual logic/should_notRenderNavigationDrawerIcon_when_initializationOfTaskHasNotCompletelyRun.html
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/TheWlsAppBar.vue/visual logic/should_renderNavigationDrawerIcon_when_initializationOfTaskHasCompletelyRun.html
Labels: wls-gui-wahllokalsystem

#1471 1258 release update api vorfaelleundvorkomnisse adapt frontend
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-vorfaelleundvorkommnisse-api/api.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-vorfaelleundvorkommnisse-api/base.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-vorfaelleundvorkommnisse-api/common.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-vorfaelleundvorkommnisse-api/configuration.ts
  wls-gui-wahllokalsystem/src/api/wls-clients/generated-vorfaelleundvorkommnisse-api/index.ts
  wls-gui-wahllokalsystem/src/composables/vorfaelleundvorkommnisse/ereignisMapper.ts
  wls-gui-wahllokalsystem/src/stores/ereignisStore.ts
  wls-gui-wahllokalsystem/src/types/vorfaelleundvorkommnisse/Ereignis.ts
  wls-gui-wahllokalsystem/src/views/EreignisseView.vue
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorfaelle/should_renderKeineVorfaelleDisabled_when_vorfaelleAreGivenInStoreForUWB.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/__snapshots__/TheEreignisseNoEventsCheckboxes.vue/visual logic/keineVorkommnisse/should_renderKeineVorkommnisseDisabled_when_vorkommnisseAreGivenInStoreForUWB.html
  wls-gui-wahllokalsystem/tests/composables/vorfaelleundvorkommnisse/ereignisMapper.spec.ts
  wls-gui-wahllokalsystem/tests/stores/ereignisStore.spec.ts
  wls-gui-wahllokalsystem/tests/views/__snapshots__/TheEreignisseView/visual logic/should_renderSaveButtonInLoadingState_when_isSavingIsTrue.html
  wls-vorfaelleundvorkommnisse-service/pom.xml
Labels: service-vorfaelleundvorkommnisse, wls-gui-wahllokalsystem

#1491 Sprint 26 Releases
  wls-admin-service/pom.xml
  wls-basisdaten-service/pom.xml
  wls-ergebnismeldung-service/pom.xml
  wls-infomanagement-service/pom.xml
  wls-monitoring-service/pom.xml
  wls-wahlvorstand-service/pom.xml
Labels: service-ergebnismeldung, service-wahlvorstand, service-admin, service-monitoring, service-infomanagement, service-basisdaten, wls-gui-wahllokalsystem, wls-gui-admin

#1502 Avoid redundant await/then and add tests for App.vue
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/tests/App.spec.ts
Labels: wls-gui-wahllokalsystem

#1504 982 create common input feedback component
  wls-gui-wahllokalsystem/src/components/common/cards/BaseInputFeedbackCard.vue
  wls-gui-wahllokalsystem/src/components/wahlvorbereitung/WahlumgebungUwbCard.vue
  wls-gui-wahllokalsystem/src/components/wahlvorstand/TheWahlvorstandAnwesenheitRequirementCard.vue
  wls-gui-wahllokalsystem/src/composables/common/inputFeedbackUtils.ts
  wls-gui-wahllokalsystem/src/types/common/InputFeedbackTypeEnum.ts
  wls-gui-wahllokalsystem/stories/components/common/cards/BaseInputFeedbackCard.stories.ts
  wls-gui-wahllokalsystem/tests/components/common/cards/BaseInputFeedbackCard.spec.ts
  wls-gui-wahllokalsystem/tests/components/common/cards/__snapshots__/BaseInputFeedbackCard.vue/visual logic/should_renderWithAdditionalFeedback_when_additionalFeedbackSlotIsUsed.html
  wls-gui-wahllokalsystem/tests/components/common/cards/__snapshots__/BaseInputFeedbackCard.vue/visual logic/should_renderWithoutAdditionalFeedback_when_additionalFeedbackSlotIsNotUsed.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/WahlumgebungUwbCard.spec.ts
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/WahlumgebungUwbCard.vue/visual logic/should_renderWithFiveInputFieldsAndDisabledSaveButton_when_TwoWahlenAreGiven.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/WahlumgebungUwbCard.vue/visual logic/should_renderWithThreeInputFieldsAndDisabledSaveButton_when_NoWahlenAreGiven.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/TheWahlvorstandAnwesenheitRequirementCard.spec.ts
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitRequirementCard.vue/visual logic/should_showErrorText_when_mindestAnwesenheitIsNotGiven.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitRequirementCard.vue/visual logic/should_showErrorText_when_schriftfuehrerIsNotAnwesend.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitRequirementCard.vue/visual logic/should_showErrorText_when_wahlvorsteherIsNotAnwesend.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitRequirementCard.vue/visual logic/should_showNoErrorTexts_when_allRequirementsAreSatisfied.html
  wls-gui-wahllokalsystem/tests/composables/common/inputFeedbackUtils.spec.ts
Labels: wls-gui-wahllokalsystem

#1512 1389 gemeinsame wahl für beide wls_all user
  docs/package-lock.json
  wls-admin-service/src/test/resources/konfiguriertewahltage.http
  wls-admin-service/src/test/resources/wahlen.http
  wls-admin-service/src/test/resources/wahllokalbenutzer.http
  wls-admin-service/src/test/resources/wahltermindaten.http
  wls-auth-service/src/main/resources/db/dummydata/h2/R__setUserDataForWlsAllUsers.sql
  wls-auth-service/src/main/resources/db/dummydata/oracle/R__setUserDataForWlsAllUsers.sql
  wls-auth-service/src/test/resources/wahllokalbenutzer.http
  wls-basisdaten-service/src/test/resources/handbuch.http
  wls-basisdaten-service/src/test/resources/ungueltigeWahlscheine.http
  wls-basisdaten-service/src/test/resources/wahlbezirke.http
  wls-basisdaten-service/src/test/resources/wahlen.http
  wls-basisdaten-service/src/test/resources/wahltermindaten.http
  wls-eai-service/src/main/resources/db/dummydata/h2/R__setWahlData.sql
  wls-eai-service/src/main/resources/db/dummydata/oracle/R__setWahlData.sql
  wls-infomanagement-service/src/test/resources/http.request/konfigurierterWahltag.http
Labels: documentation, service-admin, service-infomanagement, service-basisdaten, service-auth, service-eai

#1510 1360 initialisierung kopfdaten vom basisdatenservice
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/domain/kopfdaten/Stimmzettelgebietsart.java
  wls-gui-wahllokalsystem/src/composables/kopfdaten/kopfdatenMapper.ts
  wls-gui-wahllokalsystem/src/composables/kopfdaten/kopfdatenService.ts
  wls-gui-wahllokalsystem/src/composables/tasks/taskListService.ts
  wls-gui-wahllokalsystem/src/stores/kopfdatenStore.ts
  wls-gui-wahllokalsystem/src/stores/userStore.ts
  wls-gui-wahllokalsystem/src/types/kopfdaten/KopfdatenStimmzettelgebietsartEnum.ts
  wls-gui-wahllokalsystem/src/types/kopfdaten/kopfdaten.ts
  wls-gui-wahllokalsystem/tests/composables/kopfdaten/kopfdatenMapper.spec.ts
  wls-gui-wahllokalsystem/tests/composables/kopfdaten/kopfdatenService.spec.ts
  wls-gui-wahllokalsystem/tests/composables/tasks/taskListService.spec.ts
  wls-gui-wahllokalsystem/tests/stores/kopfdatenStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/userStore.spec.ts
  wls-gui-wahllokalsystem/tests/utils/kopfdaten/KopfdatenTestDataFactory.ts
Labels: service-basisdaten, wls-gui-wahllokalsystem

#1520 1516 - Entfernung von Unique Constraint und Vergrößerung der Länge für KandidatItenfikator
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/domain/wahlvorschlag/Kandidat.java
  wls-basisdaten-service/src/main/java/de/muenchen/oss/wahllokalsystem/basisdatenservice/domain/wahlvorschlag/Wahlvorschlag.java
  wls-basisdaten-service/src/main/resources/db/migrations/h2/V11_0__increaseKandidatIdentifikatorLength.sql
  wls-basisdaten-service/src/main/resources/db/migrations/h2/V11_1__increaseWahlvorschlagIdentifikatorLength.sql
  wls-basisdaten-service/src/main/resources/db/migrations/h2/V11_2__removeUniqueOfKandidatIdentifikator.sql
  wls-basisdaten-service/src/main/resources/db/migrations/h2/V11_3__removeUniqueOfWahlvorschlagIdentifikator.sql
  wls-basisdaten-service/src/main/resources/db/migrations/oracle/V11_0__increaseKandidatIdentifikatorLength.sql
  wls-basisdaten-service/src/main/resources/db/migrations/oracle/V11_1__increaseKandidatIdentifikatorLength.sql
  wls-basisdaten-service/src/main/resources/db/migrations/oracle/V11_2__removeUniqueOfKandidatIdentifikator.sql
  wls-basisdaten-service/src/main/resources/db/migrations/oracle/V11_3__removeUniqueOfWahlvorschlagIdentifikator.sql
Labels: service-basisdaten

#1511 982 pflege von der information über ungültige wahlscheine
  wls-gui-wahllokalsystem/src/App.vue
  wls-gui-wahllokalsystem/src/components/wahlvorbereitung/BaseWaehlerverzeichnisCheckCard.vue
  wls-gui-wahllokalsystem/src/components/wlsComponents/TheWlsAppBar.vue
  wls-gui-wahllokalsystem/src/composables/wahlvorbereitung/waehlerverzeichnisMapper.ts
  wls-gui-wahllokalsystem/src/composables/wahlvorbereitung/waehlerverzeichnisService.ts
  wls-gui-wahllokalsystem/src/constants.ts
  wls-gui-wahllokalsystem/src/plugins/router.ts
  wls-gui-wahllokalsystem/src/stores/wahlbezirkStore.ts
  wls-gui-wahllokalsystem/src/stores/wahlenStore.ts
  wls-gui-wahllokalsystem/src/types/wahlbezirk/PflegeWaehlerverzeichnis.ts
  wls-gui-wahllokalsystem/src/views/wahlvorbereitung/WaehlerverzeichnisView.vue
  wls-gui-wahllokalsystem/tests/components/common/cards/__snapshots__/BaseInputFeedbackCard/visual logic/should_renderWithAdditionalFeedback_when_slotIsUsed.html
  wls-gui-wahllokalsystem/tests/components/common/cards/__snapshots__/BaseInputFeedbackCard/visual logic/should_renderWithoutAdditionalFeedback_when_slotIsNotUsed.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/BaseWaehlerverzeichnisCheckCard.spec.ts
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWaehlerverzeichnisCheckCard.vue/visual logic/should_renderSaveButtonDisabled_when_mitteilungUeberUngueltigeWahlscheineErhaltenIsFalse.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWaehlerverzeichnisCheckCard.vue/visual logic/should_renderSaveInLoadingState_when_pflegeWaehlerverzeichnisIsSavingIsTrue.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWaehlerverzeichnisCheckCard.vue/visual logic/should_renderWithChangesInWaehlerverzeichnisAndAllCheckboxesSelected_when_mounted.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWaehlerverzeichnisCheckCard.vue/visual logic/should_renderWithNoChangesInWaehlerverzeichnisAndAllCheckboxesSelected_when_mounted.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWaehlerverzeichnisCheckCard.vue/visual logic/should_renderWithNoChangesInWaehlerverzeichnisAndNoCheckboxesSelected_when_mounted.html
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/TheWlsAppBar.vue/visual logic/should_notRenderNavigationDrawerIcon_when_initializationOfTaskHasNotCompletelyRun.html
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/TheWlsAppBar.vue/visual logic/should_renderNavigationDrawerIcon_when_initializationOfTaskHasCompletelyRun.html
  wls-gui-wahllokalsystem/tests/composables/wahlvorbereitung/waehlerverzeichnisMapper.spec.ts
  wls-gui-wahllokalsystem/tests/composables/wahlvorbereitung/waehlerverzeichnisService.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlbezirkStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/wahlenStore.spec.ts
  wls-gui-wahllokalsystem/tests/utils/wahlvorbereitung/PflegeWaehlerverzeichnisTestDataFactory.ts
Labels: wls-gui-wahllokalsystem

#1545 update pinia to 3
  wls-gui-wahllokalsystem/package-lock.json
  wls-gui-wahllokalsystem/package.json
Labels: wls-gui-wahllokalsystem

#1506 Update frontend docu fachliche anforderungen
  docs/.vitepress/theme/custom.css
  docs/src/about/index.md
  docs/src/public/relationshipOfUIsToElectionProcess.drawio.png
Labels: documentation

#1567 Add Zu-Spät-Dialog bei Eroeffnung
  wls-gui-wahllokalsystem/src/components/wahlvorbereitung/BaseWahleroeffnungCard.vue
  wls-gui-wahllokalsystem/src/stores/ereignisStore.ts
  wls-gui-wahllokalsystem/src/stores/infomanagementStore.ts
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/BaseWahleroeffnungCard.spec.ts
  wls-gui-wahllokalsystem/tests/stores/ereignisStore.spec.ts
  wls-gui-wahllokalsystem/tests/stores/infomanagementStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1595 removed hateos
  wls-admin-service/pom.xml
  wls-auth-service/pom.xml
  wls-basisdaten-service/pom.xml
  wls-briefwahl-service/pom.xml
  wls-broadcast-service/pom.xml
  wls-eai-service/pom.xml
  wls-eai-service/src/test/java/de/muenchen/oss/wahllokalsystem/eaiservice/TestConstants.java
  wls-ergebnismeldung-service/pom.xml
  wls-ergebnismeldung-service/src/test/java/de/muenchen/oss/wahllokalsystem/ergebnismeldungservice/TestConstants.java
  wls-infomanagement-service/pom.xml
  wls-infomanagement-service/src/test/java/de/muenchen/oss/wahllokalsystem/infomanagementservice/TestConstants.java
  wls-monitoring-service/pom.xml
  wls-vorfaelleundvorkommnisse-service/pom.xml
  wls-vorfaelleundvorkommnisse-service/src/test/java/de/muenchen/oss/wahllokalsystem/vorfaelleundvorkommnisseservice/TestConstants.java
  wls-wahlvorbereitung-service/pom.xml
  wls-wahlvorbereitung-service/src/test/java/de/muenchen/oss/wahllokalsystem/wahlvorbereitungservice/TestConstants.java
  wls-wahlvorstand-service/pom.xml
Labels: service-broadcast, service-briefwahl, service-ergebnismeldung, service-wahlvorstand, service-admin, service-wahlvorbereitung, service-monitoring, service-infomanagement, service-basisdaten, service-vorfaelleundvorkommnisse, service-auth, service-eai

#1593 1354 Erweiterung input feedback card um Typ success und mehr Abstand mit Text
  wls-gui-wahllokalsystem/src/components/common/cards/BaseInputFeedbackCard.vue
  wls-gui-wahllokalsystem/src/composables/common/inputFeedbackUtils.ts
  wls-gui-wahllokalsystem/src/types/common/InputFeedbackTypeEnum.ts
  wls-gui-wahllokalsystem/stories/components/common/cards/BaseInputFeedbackCard.stories.ts
  wls-gui-wahllokalsystem/tests/components/common/cards/__snapshots__/BaseInputFeedbackCard.vue/visual logic/should_renderWithAdditionalFeedback_when_additionalFeedbackSlotIsUsed.html
  wls-gui-wahllokalsystem/tests/components/common/cards/__snapshots__/BaseInputFeedbackCard.vue/visual logic/should_renderWithoutAdditionalFeedback_when_additionalFeedbackSlotIsNotUsed.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWaehlerverzeichnisCheckCard.vue/visual logic/should_renderSaveButtonDisabled_when_mitteilungUeberUngueltigeWahlscheineErhaltenIsFalse.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWaehlerverzeichnisCheckCard.vue/visual logic/should_renderSaveInLoadingState_when_pflegeWaehlerverzeichnisIsSavingIsTrue.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWaehlerverzeichnisCheckCard.vue/visual logic/should_renderWithChangesInWaehlerverzeichnisAndAllCheckboxesSelected_when_mounted.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWaehlerverzeichnisCheckCard.vue/visual logic/should_renderWithNoChangesInWaehlerverzeichnisAndAllCheckboxesSelected_when_mounted.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/BaseWaehlerverzeichnisCheckCard.vue/visual logic/should_renderWithNoChangesInWaehlerverzeichnisAndNoCheckboxesSelected_when_mounted.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/TheWahlumgebungUwbCard.vue/visual logic/should_renderWithFiveInputFieldsAndDisabledSaveButton_when_twoWahlenAreGiven.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/TheWahlumgebungUwbCard.vue/visual logic/should_renderWithThreeInputFieldsAndDisabledSaveButton_when_noWahlenAreGiven.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitRequirementCard.vue/visual logic/should_showErrorText_when_mindestAnwesenheitIsNotGiven.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitRequirementCard.vue/visual logic/should_showErrorText_when_schriftfuehrerIsNotAnwesend.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitRequirementCard.vue/visual logic/should_showErrorText_when_wahlvorsteherIsNotAnwesend.html
  wls-gui-wahllokalsystem/tests/components/wahlvorstand/__snapshots__/TheWahlvorstandAnwesenheitRequirementCard.vue/visual logic/should_showNoErrorTexts_when_allRequirementsAreSatisfied.html
  wls-gui-wahllokalsystem/tests/composables/common/inputFeedbackUtils.spec.ts
Labels: wls-gui-wahllokalsystem

#1584 1383 Konfigurationsoption für embedded ldap server ergänzt zur Konfiguration des ldif-Files
  docs/src/services/backend-services/auth-service/index.md
  stack/docker-compose.yml
  stack/docker-compose_latest-dev.yml
  stack/ldap/users.ldif
  wls-auth-service/src/main/java/de/muenchen/oss/wahllokalsystem/authservice/configuration/LdapConfiguration.java
  wls-auth-service/src/main/resources/application-dummy.ldap.yml
Labels: documentation, service-auth

#1547 Add View Erfassung Wahlbriefe
  docs/src/about/index.md
  wls-gui-wahllokalsystem/src/components/navigation/TheBWBPreparationListGroup.vue
  wls-gui-wahllokalsystem/src/components/wahlvorbereitung/TheWahlbriefErfassungCard.vue
  wls-gui-wahllokalsystem/src/composables/briefwahl/briefwahlMapper.ts
  wls-gui-wahllokalsystem/src/composables/briefwahl/briefwahlService.ts
  wls-gui-wahllokalsystem/src/constants.ts
  wls-gui-wahllokalsystem/src/plugins/router.ts
  wls-gui-wahllokalsystem/src/stores/wahlbezirkStore.ts
  wls-gui-wahllokalsystem/src/types/briefwahl/Wahlbriefdaten.ts
  wls-gui-wahllokalsystem/src/views/wahlvorbereitung/BWBWahlbriefErfassungView.vue
  wls-gui-wahllokalsystem/tests/components/navigation/__snapshots__/TheBWBPreparationListGroup.vue/visual logic/should_renderListGroupWithNavigationItems_when_mounted.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/TheWahlbriefErfassungCard.spec.ts
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/TheWahlbriefErfassungCard.vue/visual logic/should_renderWahlbriefErfassungCardWithDisabledSave_when_mounted.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/TheWahlbriefErfassungCard.vue/visual logic/should_renderWahlbriefErfassungCardWithEnabledSave_when_hasValidData.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/TheWahlbriefErfassungCard.vue/visual logic/should_renderWahlbriefErfassungCardWithWithFailedValidation_when_timeIsMissing.html
Labels: documentation, wls-gui-wahllokalsystem

#1599 Update von Tests um Warnings zu entfernen
  wls-gui-wahllokalsystem/tests/App.spec.ts
  wls-gui-wahllokalsystem/tests/components/monitoring/TheWaehleranzahlCountButton.spec.ts
  wls-gui-wahllokalsystem/tests/components/monitoring/__snapshots__/TheWaehleranzahlCountButton/visual logic/should_renderButtonWithCorrectLabelAndIcon_when_componentIsMounted.html
  wls-gui-wahllokalsystem/tests/components/monitoring/__snapshots__/TheWaehleranzahlCountButton/visual logic/should_renderButtonWithCorrectWaehleranzahl_when_waehleranzahlIsSet.html
  wls-gui-wahllokalsystem/tests/components/vorfaelleundvorkommnisse/TheEreignisseNoEventsCheckboxes.spec.ts
  wls-gui-wahllokalsystem/tests/composables/useCurrentTime.spec.ts
  wls-gui-wahllokalsystem/tests/utils/testutils.ts
Labels: wls-gui-wahllokalsystem

#1619 Revert "chore(deps): update dependency org.sonatype.central:central-publishing-maven-plugin to v0.8.0"
  wls-common/pom.xml
Labels: wls-common

#1601 1495- Sortierung des Wahlvorstandes
  docs/src/about/index.md
  wls-gui-wahllokalsystem/src/composables/wahlvorstand/wahlvorstandService.ts
  wls-gui-wahllokalsystem/src/composables/wahlvorstand/wahlvorstandUtils.ts
  wls-gui-wahllokalsystem/tests/composables/wahlvorstand/wahlvorstandUtils.spec.ts
Labels: documentation, wls-gui-wahllokalsystem

#1633 bump vue-component-type-helpers to 3.0.4
  wls-gui-admintool/package-lock.json
  wls-gui-wahllokalsystem/package-lock.json
Labels: wls-gui-wahllokalsystem, wls-gui-admin

#1636 Update UI styling
  wls-gui-wahllokalsystem/src/components/monitoring/TheWaehleranzahlCountButton.vue
  wls-gui-wahllokalsystem/src/components/wahlvorstand/TheWahlvorstandLastSendDiv.vue
  wls-gui-wahllokalsystem/src/components/wahlvorstand/TheWahlvorstandLatestLoadDiv.vue
  wls-gui-wahllokalsystem/src/components/wlsComponents/TheWlsAppBar.vue
  wls-gui-wahllokalsystem/tests/components/monitoring/__snapshots__/TheWaehleranzahlCountButton/visual logic/should_renderButtonWithCorrectLabelAndIcon_when_componentIsMounted.html
  wls-gui-wahllokalsystem/tests/components/monitoring/__snapshots__/TheWaehleranzahlCountButton/visual logic/should_renderButtonWithCorrectWaehleranzahl_when_waehleranzahlIsSet.html
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/TheWlsAppBar.vue/visual logic/should_notRenderNavigationDrawerIcon_when_initializationOfTaskHasNotCompletelyRun.html
  wls-gui-wahllokalsystem/tests/components/wlsComponents/__snapshots__/TheWlsAppBar.vue/visual logic/should_renderNavigationDrawerIcon_when_initializationOfTaskHasCompletelyRun.html
Labels: wls-gui-wahllokalsystem

#1639 add new devs to pom
  wls-common/pom.xml
Labels: wls-common

#1661 1685 - "Störungen" soll "Ereignisse" heissen
  docs/src/about/index.md
  wls-gui-wahllokalsystem/src/components/wahlvorbereitung/TheUnguetilgeWahlscheineVerifyCard.vue
  wls-gui-wahllokalsystem/src/composables/vorfaelleundvorkommnisse/ereignisService.ts
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/TheUnguetilgeWahlscheineVerifyCard.vue/visual logic/should_renderInvalidWahlscheinAndChangeSearchButtonLabel_when_wahlscheinnummerIsPartOfUngueltigeWahlscheine.html
  wls-gui-wahllokalsystem/tests/components/wahlvorbereitung/__snapshots__/TheUnguetilgeWahlscheineVerifyCard.vue/visual logic/should_renderInvalidWahlschein_when_wahlscheinnummerIsPartOfUngueltigeWahlscheine.html
Labels: documentation, wls-gui-wahllokalsystem

#1587 966-komponente-anzeige-konfigurationsparameter
  wls-gui-admintool/src/components/config-parameter/BaseCardConfigParameterDisplay.vue
  wls-gui-admintool/src/types/config/InfomanagementConfigParameter.ts
  wls-gui-admintool/stories/components/config-parameter/BaseCardConfigParameterDisplay.stories.ts
  wls-gui-admintool/tests/components/config-parameter/BaseCardConfigParameterDisplay.spec.ts
  wls-gui-admintool/tests/components/config-parameter/__snapshots__/BaseCardConfigParameterDisplay.vue/visual logic/should_renderCorrectly_when_componentIsMounted.html
Labels: service-infomanagement, wls-gui-admin

#1669 1397 add options for service inputs for dispatch workflows
  .github/workflows/dispatch-create-github-container-image.yml
  .github/workflows/dispatch-microservice-mvn-release.yml
  docs/src/technik/guides/new-microservice/new-service-backend.md
  docs/src/technik/guides/new-microservice/new-service-frontend.md
Labels: documentation

#1668 1499 use default time values for config params
  wls-gui-wahllokalsystem/src/stores/infomanagementStore.ts
  wls-gui-wahllokalsystem/tests/stores/infomanagementStore.spec.ts
Labels: wls-gui-wahllokalsystem

#1642 1615 speichern von leeren beanstandeten wahlbriefen
  wls-briefwahl-service/src/main/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/domain/utils/ZurueckweisungsgrundConverter.java
  wls-briefwahl-service/src/main/resources/db/migrations/h2/V10_0__removeZurueckweisegruendeNotNull.sql
  wls-briefwahl-service/src/main/resources/db/migrations/oracle/V10_0__removeZurueckweisegruendeNotNull.sql
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/domain/utils/ZurueckweisungsgrundConverterTest.java
  wls-briefwahl-service/src/test/java/de/muenchen/oss/wahllokalsystem/briefwahlservice/rest/beanstandetewahlbriefe/BeanstandeteWahlbriefeControllerIntegrationTest.java
Labels: service-briefwahl
